/* about page - start
==================================================================================================== */
.about-page {
	.auto-hide {background-color: $light-gray;}
	.service-section {
		.service-item {margin-top: 0px;}
	}
}

// about-section - start
.about-section {
	background-color: $light-gray;
	.about-content {
		padding-top: 60px;
		.title-text {
			font-size: 36px;
			color: $royalblue;
			text-transform: capitalize;
		}
		.sub-title {
			font-size: 42px;
			color: $default-color;
			text-transform: capitalize;
		}
	}
	.about-image {
		margin-bottom: -140px;
		img {
			width: 100%;
			display: block;
		}
	}
}
// about-section - end

// work-process-section - start
.work-process-section {
	.work-process-item {
		padding-right: 30px;
		margin-bottom: 60px;
		&:last-child {margin-bottom: 0px;}
		.item-title {
			font-size: 22px;
			color: $royalblue;
			margin-bottom: 15px;
			text-transform: capitalize;
		}
		.item-description {}
	}

	.heroes-comment {
		.image-container {
			z-index: 1;
			margin-bottom: -175px;
		}
		.blockquote {
			padding: 30px 60px;
			padding-top: 205px;
			background-color: $royalblue;
			p {
				font-size: 24px;
				line-height: 30px;
				color: $pure-white;
			}
			.blockquote-footer {
				font-size: 16px;
				color: $pure-white;
				text-transform: capitalize;
			}
		}
	}
}
// work-process-section - end
/* about page - end
==================================================================================================== */