/* blog page - start
==================================================================================================== */
// full width blog - start
// ==================================================
.blog-list-item,
.full-width-blog {
	margin-bottom: 80px;
	&:last-child {margin-bottom: 0px;}
	.blog-image {
		img {
			width: 100%;
			display: block;
		}
	}
	.blog-content {
		.post-meta {
			padding: 15px 0px;
			border-bottom: 2px solid $royalblue;
		}
		.blog-title {
			font-size: 36px;
			color: $default-black;
			text-transform: capitalize;
			font-family: 'Sk-Modernist-Bold';
			&:hover {color: $royalblue;}
		}
	}

	&:hover {
		.blog-content {
			.blog-title {color: $royalblue;}
		}
	}
}
// full width blog - end
// ==================================================

// blog list item - start
// ==================================================
.blog-list-item {
	.blog-image,
	.blog-content {width: 50%;}

	.blog-content {
		padding: 0px 15px;
		padding-top: 74px;
	}
}
// blog list item - end
// ==================================================

/* blog page - end
==================================================================================================== */





/* blog details page - start
==================================================================================================== */
.blog-details-item {
	.blog-title-container {
		.post-meta {
			padding: 15px 0px;
			border-bottom: 2px solid $royalblue;
		}
		.blog-title {
			font-size: 36px;
			color: $default-black;
			text-transform: capitalize;
			font-family: 'Sk-Modernist-Bold';
		}
	}
	.blog-content {
		.item-description {
			font-size: 30px;
			color: $royalblue;
			font-family: 'Sk-Modernist-Regular';
		}
		.title-text {
			font-size: 30px;
			text-transform: capitalize;
			font-family: 'Sk-Modernist-bold';
		}
		.point-list {
			ul {
				li {
					margin-bottom: 8px;
					&:last-child {margin-bottom: 0px;}
				}
			}
		}
		.share-links {
			.share-links-title {
				float: left;
				font-size: 16px;
				margin-top: -3px;
				padding: 5px 10px;
				margin-right: 15px;
				color: $pure-white;
				text-transform: uppercase;
				background-color: $royalblue;
			}
			ul {
				li {
					margin-right: 30px;
					&:last-child {margin-right: 0px;}
					a {
						font-size: 18px;
						color: $default-black;
						&:hover {
							color: $royalblue;
							text-decoration: underline;
						}
					}
				}
			}
		}

		.related-posts {
			.related-posts-carousel {
				.item {
					.image-container {
						width: 40%;
						float: left;
					}

					.item-content {
						width: 60%;
						float: right;
						padding: 0px 15px;
						.post-meta {
							padding: 10px 0px;
							border-bottom: 2px solid $royalblue;
						}
						.title-text {
							font-size: 24px;
							color: $default-black;
							text-transform: capitalize;
							font-family: 'Sk-Modernist-Bold';
							&:hover {color: $royalblue;}
						}
					}

					&:hover {
						.item-content {
							.title-text {color: $royalblue;}
						}
					}
				}
			}
		}
	}
}
/* blog details page - end
==================================================================================================== */