/* contact pages - start
==================================================================================================== */
.google-map {
	width: 100%;
	height: 500px;
	position: relative;
	> div + div {display: none;}
}



// contact-section - start
.contact-section {
	.contact-form {
		.form-textarea {
			textarea {min-height: 150px;}
		}
		.submit-btn {
			width: auto;
			height: 50px;
			line-height: 50px;
			padding: 0px 30px;
			text-align: center;
			color: $pure-white;
			text-transform: uppercase;
			background-color: $royalblue;
		}
	}
}
// contact-section - start



// contact-page-full-screen - start
.contact-page-full-screen {
	.home-btn {
		top: 15px;
		left: 50%;
		z-index: 1;
		width: 50px;
		height: 50px;
		position: fixed;
		font-size: 18px;
		line-height: 50px;
		color: $pure-white;
		text-align: center;
		border-radius: 100%;
		transform: translateX(-50%);
		background-color: $royalblue;
		box-shadow: 0px 3px 15px 1px rgba(48,48,48,0.2);
	}
	.google-map {height: 100vh;}
	.address-container {
		top: 50%;
		z-index: 1;
		right: 100px;
		height: auto;
		width: 470px;
		padding: 50px 40px;
		position: absolute;
		transform: translateY(-50%);
		background-color: $pure-white;
		.container-title {
			.title-text {
				font-size: 24px;
				margin-bottom: 5px;
				text-transform: capitalize;
			}
			.site-name {
				margin: 0;
				font-size: 30px;
			}
		}
		.address-info-list {
			ul {
				li {
					margin-bottom: 5px;
					&:last-child {margin-bottom: 0px;}
					strong {
						min-width: 80px;
						margin-right: 5px;
					}
				}
			}
		}
		.country-name {
			ul {
				li {
					margin-right: 30px;
					&:last-child {margin-right: 0px;}
					a {
						font-size: 18px;
						text-transform: uppercase;
						font-family: 'Sk-Modernist-Mono';
						&:hover {color: $royalblue;}
					}
					.active {color: $royalblue;}
				}
			}
		}
		.contact-form {
			.submit-btn {
				width: auto;
				height: 45px;
				padding: 0px 30px;
				line-height: 45px;
				color: $pure-white;
				text-align: center;
				text-transform: uppercase;
				background-color: $royalblue;
			}
		}
	}
}
// contact-page-full-screen - end
/* contact pages - end
==================================================================================================== */