/* footer section - start
==================================================================================================== */
.footer-section {
	.default-footer {

		.about-info {
			p {
				font-size: 16px;
				color: $royalblue;
				text-transform: capitalize;
				a {
					text-transform: uppercase;
					text-decoration: underline;
					&:hover {color: $royalblue;}
				}
			}
		}

		.address-info {
			ul {
				margin-bottom: 15px;
				&:last-child {margin-bottom: 0px;}
				li {
					margin-bottom: 8px;
					&:last-child {margin-bottom: 0px;}
					a {color: $royalblue;}
				}
			}
		}

		.menu-list {
			ul {
				li {
					margin-right: 30px;
					&:last-child {margin-right: 0px;}
					a {
						text-transform: capitalize;
						&:hover {color: $royalblue;}
					}
				}
			}
		}

	}
}
/* footer section - end
==================================================================================================== */