/* header section - start
==================================================================================================== */

/* main header section - start
================================================== */
.header-section {
	.default-header {
		padding: 30px 0px;
		transition: $default-transition;
		.website-logo {
			.website-link {margin: -5px 0px;}
		}

		.main-menu {
			padding: 1px 0px;
			>ul {
				>li {
					margin-right: 30px;
					position: relative;
					&:last-child {margin-right: 0px;}
					>a {
						font-size: 18px;
						color: $default-black;
						text-transform: capitalize;
						font-family: 'Sk-Modernist-Bold';
					}
					&:hover {
						>a {color: $royalblue;}
					}
				}
				>.active {
					>a {color: $royalblue;}
				}

				.toggle-nav-trigger {
					width: 45px;
					height: 45px;
					font-size: 30px;
					line-height: 45px;
					margin: -10px 0px;
					color: $pure-white;
					border-radius: 100%;
					background-color: rgba(255, 255, 255, 0.1);
					&:hover {
						color: $royalblue;
						background-color: $pure-white;
					}
				}
			}
		}

		.btns-group {
			margin: -7px 0px;
			>ul {
				>li {
					position: relative;
					margin-right: 15px;
					&:last-child {margin-right: 0px;}
					>button {
						width: 40px;
						height: 40px;
						padding: 0px;
						font-size: 24px;
						line-height: 40px;
						text-align: center;
						border-radius: 100%;
						color: $default-black;
						background-color: transparent;
					}
					&:hover {
						>button {
							color: $royalblue;
							background-color: $pure-white;
						}
					}
				}
				.cart-btn {
					>button {
						.cart-item-counter {
							right: -3px;
							bottom: -3px;
							font-size: 12px;
							padding: 2px 5px;
							color: $pure-white;
							position: absolute;
							background-color: $royalblue;
						}
					}
				}
			}
		}
	}
}
/* main header section - end
================================================== */



/* leftside-fixed-header - start
================================================== */
.leftside-fixed-header {
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;
	z-index: 1000;
	height: 100vh;
	position: fixed;
	overflow-y: scroll;
	text-align: center;
	padding: 30px 15px;
	background-color: $pure-white;
	border-right: 1px solid $deep-gray;

	#sidebar-menu-btn {
		top: 50%;
		left: 50%;
		width: 50px;
		height: 50px;
		font-size: 36px;
		line-height: 50px;
		position: absolute;
		text-align: center;
		border-radius: 100%;
		color: $default-black;
		background-color: $light-gray;
		transform: translate(-50%,-50%);
		&:hover {
			color: $pure-white;
			background-color: $royalblue;
		}
	}

	.social-links {
		left: 50%;
		bottom: 30px;
		position: absolute;
		transform: translateX(-50%);
		>ul {
			>li {
				margin-bottom: 5px;
				&:last-child {margin-bottom: 0px;}
				>a {
					width: 30px;
					height: 30px;
					font-size: 18px;
					line-height: 30px;
					text-align: center;
					border-radius: 100%;
					color: $default-black;
					background-color: $light-gray;
					&:hover {
						color: $pure-white;
						background-color: $royalblue;
					}
				}
			}
		}
	}

	#sidebar-menu {
		top: 0;
		opacity: 0;
		left: -400px;
		z-index: 999;
		height: 100vh;
		position: fixed;
		min-width: 400px;
		max-width: 400px;
		text-align: left;
		visibility: hidden;
		padding-left: 100px;
		background-color: $royalblue;
		transition: $default-transition;
		.dismiss-sidebar-menu {
			top: 0;
			left: 0;
			bottom: 0;
			width: 100px;
			height: 100vh;
			position: fixed;
			cursor: pointer;
			font-size: 30px;
			line-height: 100vh;
			color: $pure-white;
			text-align: center;
			transition: $default-transition;
			border-right: 1px solid rgba(255,255,255,0.1);
			&:hover {color: $pure-white;}
			i {
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%,-50%);
			}
		}

		.btns-group {
			padding: 30px;
			>ul {
				>li {
					position: relative;
					margin-right: 15px;
					padding-right: 15px;
					&:after {
						top: 50%;
						width: 2px;
						right: -1px;
						content: '';
						height: 20px;
						position: absolute;
						transform: translateY(-50%);
						background-color: rgba(255,255,255,0.1);
					}
					&:last-child {
						margin-right: 0px;
						padding-right: 0px;
						&:after {display: none;}
					}
					>button {
						width: 40px;
						padding: 0px;
						height: 40px;
						display: block;
						font-size: 24px;
						line-height: 40px;
						color: $pure-white;
						text-align: center;
						position: relative;
						border-radius: 100%;
						background-color: rgba(255,255,255,0.1);
						&:hover {
							color: $royalblue;
							background-color: $pure-white;
						}
					}
					.cart-item-counter {
						right: -3px;
						bottom: -3px;
						font-size: 12px;
						padding: 2px 5px;
						color: $royalblue;
						position: absolute;
						background-color: $pure-white;
					}
				}
			}
		}

		.menu-list {
			margin: 0px;
			padding: 30px 0px;
			>li {
				width: 100%;
				height: 40px;
				display: table;
				>a {
					width: 100%;
					height: 100%;
					display: block;
					font-size: 18px;
					padding: 0px 30px;
					line-height: 50px;
					position: relative;
					text-transform: uppercase;
					color: rgba(255,255,255,0.8);
					&:before {
						left: 0;
						top: 50%;
						width: 0px;
						opacity: 0;
						height: 0px;
						content: '';
						position: absolute;
						transform: translateY(-50%);
						border: 1px solid $pure-white;
						transition: $default-transition;
					}
				}
				&:hover {
					>a {
						color: $pure-white;
						padding-left: 50px;
						&:before {
							opacity: 1;
							width: 40px;
						}
					}
				}
			}
			>.active {
				>a {
					color: $pure-white;
					padding-left: 50px;
					&:before {
						opacity: 1;
						width: 40px;
					}
				}
			}
			.menu-item-has-child {
				position: relative;
				&:after {
					top: 25px;
					right: 25px;
					line-height: 0;
					font-size: 14px;
					content: "\f217";
					position: absolute;
					font-family: "Ionicons";
					transform: rotate(-180deg);
					color: rgba(255,255,255,0.8);
					transition: $default-transition;
				}
				>.sub-menu {
					top: 0px;
					opacity: 0;
					margin: 0px;
					width: 250px;
					height: auto;
					padding: 0px;
					right: -250px;
					visibility: hidden;
					position: absolute;
					background-color: $royalblue;
					transition: $default-transition;
					>li {
						width: 100%;
						height: 50px;
						display: table;
						border-bottom: 1px solid rgba(255,255,255,0.1);
						>a {
							width: 100%;
							height: 100%;
							display: block;
							font-size: 16px;
							line-height: 50px;
							padding: 0px 30px;
							text-transform: uppercase;
							color: rgba(255,255,255,0.8);
						}
						&:last-child {border-bottom: none;}
						&:hover {
							>a {
								color: $pure-white;
								background-color: rgba(255,255,255,0.15);
							}
						}
					}
					>.active {
						>a {
							color: $pure-white;
							background-color: rgba(255,255,255,0.15);
						}
					}
				}
				&:hover {
					&:after {
						content: "\f208";
						transform: rotate(0deg);
					}
					>.sub-menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	#sidebar-menu.active {
		left: 0px;
		opacity: 1;
		visibility: visible;
	}
	.overlay {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: 900;
		display: none;
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
		transition: all 0.5s ease-in-out;
	}
	.overlay.active {
		opacity: 1;
		display: block;
	}
}
.leftside-fixed-header::-webkit-scrollbar {width: 0px;}
#sidebar-menu::-webkit-scrollbar {width: 0px;}
/* leftside-fixed-header - end
================================================== */



/* dropdown menu - start
================================================== */
.main-menu {
	>ul {
		>.menu-item-has-child {
			position: relative;
			>a {
				position: relative;
				padding-right: 15px;
				&:before {
					top: 4px;
					right: 0px;
					font-size: 12px;
					content: "\f217";
					position: absolute;
					border-radius: 100%;
					color: $default-black;
					font-family: "Ionicons";
					transform: rotate(-180deg);
					transition: all .2s ease-in-out;
				}
			}
			&:hover {
				>a {
					&:before {
						content: "\f208";
						color: $royalblue;
						transform: rotate(0deg);
					}
				}
			}
		}
		.active {
			>a {
				&:before {color: $royalblue;}
			}
		}
	}
}

/* sub-menu - start */
.main-menu {
	>ul {
		>.menu-item-has-child {
			>.sub-menu {
				left: 50%;
				top: 24px;
				opacity: 0;
				z-index: 2;
				margin: 0px;
				padding: 0px;
				height: auto;
				min-width: 230px;
				padding-top: 32px;
				visibility: hidden;
				position: absolute;
				transform: translateX(-50%);
				transition: all .2s ease-in-out;
				&:before {
					top: 32px;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: -1;
					content: '';
					position: absolute;
					background-color: $pure-white;
					box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
				}
				>li {
					width: 100%;
					display: table;
					border-bottom: 1px solid $deep-gray;
					&:last-child {border-bottom: none;}
					>a {
						width: 100%;
						height: 45px;
						display: block;
						font-size: 16px;
						line-height: 45px;
						text-align: center;
						text-transform: capitalize;
						font-family: 'Sk-Modernist-bold';
					}
					&:hover {
						>a {
							color: $pure-white;
							background-color: $royalblue;
						}
					}
				}
				>.active {
					>a {
						color: $pure-white;
						background-color: $royalblue;
					}
				}
			}

			&:hover {
				.sub-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
/* sub-menu - end */

/* sub-menu >> sub-menu - start */
.main-menu {
	>ul {
		>.menu-item-has-child {
			>.sub-menu {
				>.menu-item-has-child {
					position: relative;
					>.sub-menu {
						top: 0px;
						left: 150%;
						z-index: 1;
						opacity: 0;
						margin: 0px;
						padding: 0px;
						height: auto;
						min-width: 200px;
						visibility: hidden;
						position: absolute;
						transform: translateX(-50%);
						transition: all .2s ease-in-out;
						&:before {
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							z-index: -1;
							content: '';
							position: absolute;
							background-color: $pure-white;
							box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
						}
						>li {
							width: 100%;
							display: table;
							border-left: 1px solid $deep-gray;
							border-bottom: 1px solid $deep-gray;
							&:last-child {border-bottom: none;}
							>a {
								width: 100%;
								height: 45px;
								display: block;
								font-size: 16px;
								line-height: 45px;
								text-align: center;
								text-transform: capitalize;
								font-family: 'Sk-Modernist-bold';
							}
							&:hover {
								>a {color: $royalblue;}
							}
						}
					}

					&:hover {
						.sub-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
}
/* sub-menu >> sub-menu - end */
/* dropdown menu - end
================================================== */



/* search box - start
================================================== */
.search-body {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: hidden;
	transition: $default-transition;
	background: rgba(255,255,255,0.98);
	.search-form {
		width: 100%;
		height: 100%;
		padding: 3px 0px;
		position: relative;
		.search-input {
			width: 100%;
			height: 80px;
			border: none;
			font-size: 30px;
			padding: 0px 60px;
			color: $default-black;
			background-color: transparent;
			transition: $default-transition;
			&:focus {
				outline: none;
				box-shadow: none;
				border-color: transparent;
			}
		}
	}
	.search-close {
		top: 50%;
		z-index: 1;
		width: 50px;
		right: 60px;
		height: 50px;
		font-size: 36px;
		cursor: pointer;
		line-height: 50px;
		position: absolute;
		text-align: center;
		color: $default-black;
		transform: translateY(-50%);
	}

	// :-moz-placeholder {color: rgba(255,255,255,0.8);}
	// ::-moz-placeholder {color: rgba(255,255,255,0.8);}
	// :-ms-input-placeholder {color: rgba(255,255,255,0.8);}
	// ::-webkit-input-placeholder {color: rgba(255,255,255,0.8);}
}
.search-open {
	opacity: 1;
	visibility: visible;
}
/* search box - end
================================================== */



/* cart box - start
================================================== */
.cart-btn {
	position: relative;
	.cart-items-container {
		top: 40px;
		opacity: 0;
		bottom: 0px;
		right: -15px;
		height: auto;
		z-index: 999;
		padding: 30px;
		display: table;
		min-width: 400px;
		padding-top: 53px;
		position: absolute;
		visibility: hidden;
		transition: $default-transition;
		&:before {
			top: 23px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: -1;
			content: '';
			width: 100%;
			position: absolute;
			background-color: $pure-white;
			box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.1);
		}
	}
	&:hover {
		.cart-items-container {
			opacity: 1;
			visibility: visible;
		}
	}

	.cart-items-container.has-items {
		.title-text {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 15px;
			padding-bottom: 15px;
			color: $default-black;
			text-transform: capitalize;
			border-bottom: 1px solid $deep-gray;
		}

		.cart-item {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $deep-gray;
			.image-container {
				float: left;
				width: 100px;
				height: auto;
				margin-right: 15px;
			}
			.item-content {
				display: table;
				.item-title {
					font-size: 18px;
					font-weight: 600;
					margin-bottom: 5px;
					color: $default-black;
					text-transform: capitalize;
				}
				.item-price {
					>strong {color: $default-black;}
				}
				>ul {
					width: 100%;
					margin: 0px;
					padding: 0px;
					display: table;
					>li {
						float: left;
						padding: 0px;
						list-style: none;
						margin-right: 8px;
						display: inline-block;
						&:last-child {margin-right: 0px;}

						.qty-text {
							font-weight: 500;
							margin-right: 5px;
							text-transform: capitalize;
						}
						.quantity-input {
							width: 70px;
							height: 35px;
							padding: 0px 10px;
							text-align: center;
							border-radius: 30px;
							border: 1px solid $light-gray;
							background-color: $light-gray;
							&:focus {outline: none;}
						}
						button {
							width: 35px;
							height: 35px;
							font-size: 18px;
							line-height: 35px;
							text-align: center;
							font-weight: normal;
							border-radius: 100%;
							color: $default-black;
							background-color: $light-gray;
							&:hover {
								color: $pure-white;
								background-color: $royalblue;
							}
						}
					}
				}
			}
		}
		.footer-container {
			.footer-left {
				margin-bottom: 30px;
				.total-price {
					font-size: 18px;
					font-weight: 500;
					text-transform: capitalize;
					strong {
						float: right;
						font-weight: 600;
					}
				}
			}
			.footer-right {
				>ul {
					>li {
						padding: 0px;
						margin-right: 5px;
						&:last-child {margin-right: 0px;}
						>a {
							height: 40px;
							font-size: 16px;
							line-height: 40px;
							padding: 0px 30px;
							text-align: center;
							border-radius: 3px;
							color: $default-black;
							text-transform: uppercase;
							background-color: $light-gray;
							&:hover {
								color: $pure-white;
								background-color: $royalblue;
							}
						}
					}
				}
			}
		}
	}
}
/* cart box - end
================================================== */





/* mobile-menu - start
================================================== */
.absolute-menu-btn {
	top: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	z-index: 999;
	display: none;
	position: fixed;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	color: $pure-white;
	border-radius: 100%;
	background-color: $royalblue;
	box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.2);
}
.mobile-menu-wrapper {
	display: block;
	position: relative;
	#sidebar {
		top: 0;
		bottom: 0;
		left: -330px;
		height: 100vh;
		z-index: 9999;
		position: fixed;
		min-width: 300px;
		max-width: 300px;
		overflow-y: scroll;
		padding-bottom: 100px;
		background-color: $pure-white;
		transition: $default-transition;
		.mCustomScrollBox {overflow: visible!important;}
	}

	#sidebar.active {left: 0px;}
	.overlay {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		width: 100%;
		z-index: 999;
		height: 100vh;
		display: none;
		position: fixed;
		background: rgba(0, 0, 0, 0.8);
		transition: $default-transition;
	}
	.overlay.active {
		opacity: 1;
		display: block;
	}
	#dismiss,
	.dismiss {
		top: 0px;
		right: 0px;
		z-index: 1;
		width: 40px;
		height: 40px;
		font-size: 18px;
		cursor: pointer;
		color: $royalblue;
		line-height: 40px;
		border-radius: 0px;
		text-align: center;
		position: absolute;
		transition: $default-transition;
	}

	// sidebar items style - start
	#sidebar {
		box-shadow: 3px 0 9px 1px rgba(0,0,0,0.1);

		.sidebar-title {
			padding: 15px 30px;
			border-bottom: 1px solid $light-gray;
			h2 {
				margin: 0px;
				font-size: 18px;
				text-transform: uppercase;
			}
		}

		.brand-logo {padding: 60px 30px;}

		.search-bar {
			padding: 0px 15px;
			input {background-color: $pure-white;}
		}

		.pages-list {
			>ul {
				>li {
					>a {
						width: 100%;
						display: block;
						font-size: 14px;
						padding: 10px 30px;
						color: $default-color;
						text-transform: uppercase;
						.icon {
							width: 30px;
							height: 30px;
							font-size: 14px;
							line-height: 30px;
							margin-right: 5px;
							text-align: center;
							border-radius: 100%;
							color: $default-black;
							transition: $default-transition;
							background-color: $deep-gray;
						}
						.cart-counter {
							font-size: 12px;
							padding: 2px 5px;
							color: $pure-white;
							background-color: $royalblue;
						}
					}
					&:hover {
						>a {
							color: $default-black;
							background-color: $light-gray;
							.icon {
								color: $pure-white;
								background-color: $royalblue;
							}
						}
					}
				}
				>.active {
					>a {
						color: $default-black;
						background-color: $light-gray;
						.icon {
							color: $pure-white;
							background-color: $royalblue;
						}
					}
				}
				>.menu-item-has-child {
					position: relative;
					>a {
						width: 100%;
						display: block;
						font-size: 14px;
						position: relative;
						&:after {
							top: 50%;
							right: 30px;
							font-size: 12px;
							font-weight: 900;
							content: '\f078';
							line-height: 0px;
							color: $deep-gray;
							position: absolute;
							transform: translateY(-50%);
							font-family: "Font Awesome 5 Free";
						}
					}

					.sub-menu {
						position: relative;
						background-color: $light-gray;
						&:before {
							top: 0;
							bottom: 0;
							left: 45px;
							width: 1px;
							content: '';
							height: 100%;
							position: absolute;
							background-color: $deep-gray;
						}
						>li {
							position: relative;
							&:before {
								top: 50%;
								left: 43px;
								width: 5px;
								height: 5px;
								content: '';
								position: absolute;
								border-radius: 100%;
								transform: translateY(-50%);
								background-color: $royalblue;
							}
							>a {
								font-size: 14px;
								padding: 10px 30px;
								padding-left: 70px;
								color: $default-color;
								text-transform: capitalize;
							}
							&:hover {
								>a {color: $royalblue;}
							}
						}
						>.active {
							>a {color: $royalblue;}
						}
					}
				}
			}
		}

		.footer-area {
			padding: 30px;
			.social-links {
				margin-bottom: 15px;
				li {
					width: 30px;
					height: 30px;
					overflow: hidden;
					text-align: center;
					margin-right: 10px;
					border-radius: 100%;
					&:last-child {margin-right: 0px;}
					a {
						width: 100%;
						height: 100%;
						display: block;
						font-size: 14px;
						line-height: 30px;
						text-align: center;
						color: $default-black;
						background-color: $light-gray;
						&:hover {
							color: $pure-white;
							background-color: $royalblue;
						}
					}
				}
			}
			.copyright-text {
				a {
					color: $royalblue;
					text-transform: uppercase;
				}
			}
		}
	}
	// sidebar items style - end
}
#sidebar::-webkit-scrollbar {width: 0px;}
/* mobile-menu - end
================================================== */



/* header effects - start
================================================== */

/* auto-hide - start */
.auto-hide {
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	position: fixed;
	will-change: transform;
	transform: translateZ(0);
	transition: transform .5s;
	background-color: $pure-white;
	transition: -webkit-transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}
.auto-hide.is-hidden {transform: translateY(-100%);}
/* auto-hide - end */

/* sticky-header - start */
.sticky-header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	position: fixed;
	transition: $default-transition;
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		position: absolute;
		transition: $default-transition;
		background-color: rgba(255,255,255,0.3);
		box-shadow: 0 2px 6px 1px rgba(48,48,48,0.1);
	}
}
.sticky-header.stuck {
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		position: absolute;
		background-color: rgba(255,255,255,1);
	}
}
/* sticky-header - end */

/* scroll-top-fixed - start */
.scroll-top-fixed {
	left: 0;
	right: 0;
	top: 30px;
	z-index: 999;
	position: fixed;
	transition: $default-transition;
}
.scroll-top-fixed.stuck {
	top: 0;
	background-color: $pure-white;
	box-shadow: 0 2px 6px 1px rgba(0,0,0,.1);
}
/* scroll-top-fixed - end */

/* header effects - end
================================================== */

/* header section - end
==================================================================================================== */