/* home 1 - start
==================================================================================================== */
/* header-section - start
================================================== */
.home-page-1 {
	.header-section {
		border-bottom: 1px solid rgba(255,255,255,0.2);
		&:before {
			box-shadow: none;
			background-color: transparent;
		}
	}

	.header-section.stuck {
		&:before {
			background-color: $pure-white;
			box-shadow: 0px 2px 4px 1px rgba(48,48,48,0.1);
		}
	}
}
/* header-section - end
================================================== */



/* slider-section - start
================================================== */
.tp-bannertimer {
	top: unset !important;
	bottom: 0px !important;
	height: 5px !important;
	visibility: visible !important;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1) !important;
}
.home-page-1 {
	.slider-section {
		.slider-items {
			margin: 0px;
			padding: 0px;
			.item {
				width: 100%;
				display: table;
				.big-text {
					h1 {
						z-index: 1;
						font-size: 1000%;
						text-transform: capitalize;
						text-shadow: 0 2px 5px rgba(48,48,48,0.1);
					}
				}
				.transparent-text {
					h2 {
						line-height: .8;
						font-size: 1800%;
						text-transform: lowercase;
						color: rgba(255,255,255,0.1);
						text-shadow: 0 2px 1px rgba(48,48,48,0.05);
					}
				}
			}
		}
	}
}
/* slider-section - end
================================================== */



/* portfolio-one - start
================================================== */
.portfolio-section {
	.grid.portfolio-one {
		.grid-item,
		.grid-sizer {width: 25%;}

		.grid-item {
			overflow: hidden;
			position: relative;
			.item-content {
				left: 15px;
				z-index: 1;
				opacity: 0;
				right: 15px;
				bottom: 0px;
				padding: 15px;
				padding-top: 60px;
				position: absolute;
				visibility: hidden;
				background-color: $pure-white;
				transition: $default-transition;
				box-shadow: 0px 3px 15px 1px rgba(48,48,48,0.2);
				.post-meta {
					padding: 8px 15px;
					margin-left: -15px;
					>ul {
						>li {
							color: rgba(255,255,255,0.8);
							&:after {background-color: rgba(255,255,255,0.2);}
							a {
								color: rgba(255,255,255,0.8);
								&:hover {color: $pure-white;}
							}
							.admin {color: $pure-white;}
						}
					}
				}
				.item-title {
					margin: 0px;
					font-size: 48px;
					color: $default-black;
					text-transform: capitalize;
					font-family: 'Sk-Modernist-Bold';
				}
			}
			&:hover {
				.item-content {
					opacity: 1;
					bottom: 15px;
					visibility: visible;
				}
			}
		}
		.grid-item-width {width: 50%;}
	}
}
/* portfolio-one - end
================================================== */
/* home 1 - end
==================================================================================================== */





/* home 2 - start
==================================================================================================== */
/* header-section - start
================================================== */
.home-page-2 {
	.header-section {
		background-color: $royalblue;
		.default-header {
			.main-menu {
				>ul {
					>li {
						margin-right: 45px;
						&:last-child {margin-right: 0px;}
						>a {
							color: rgba(255,255,255,0.6);
							&:before {color: rgba(255,255,255,0.6);}
						}
						&:hover {
							>a {
								color: $pure-white;
								&:before {color: $pure-white;}
							}
						}
					}
					>.active {
						>a {
							color: $pure-white;
							&:before {color: $pure-white;}
						}
					}
				}
			}

			.btns-group {
				>ul {
					>li {
						>button {
							color: $pure-white;
							background-color: rgba(255,255,255,0.1);
						}
						&:hover {
							>button {
								color: $royalblue;
								background-color: $pure-white;
							}
						}
					}
					.cart-btn {
						.cart-item-counter {
							color: $royalblue;
							background-color: $pure-white;
						}
					}
				}
			}
		}
	}
}
/* header-section - end
================================================== */



/* slider-section - start
================================================== */
.home-page-2 {
	.slider-section {
		.slider-items {
			.item {
				.overlay-royalblue {
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					width: 100%;
					height: 100%;
					position: absolute;
					background-color: rgba(0,0,255,0.7);
				}
				.tp-caption {
					z-index: 2;
					.big-text {
						line-height: 1;
						font-size: 1200%;
					}
					.small-text {
						font-size: 180%;
						position: relative;
						padding-left: 90px;
						&:before {
							left: 0px;
							bottom: 5px;
							width: 80px;
							height: 3px;
							content: '';
							position: absolute;
							background-color: $pure-white;
						}
					}
				}
			}
		}
	}
}
/* slider-section - end
================================================== */



/* portfolio-two - start
================================================== */
.home-page-2 {
	.portfolio-section {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.portfolio-section {
	.title-text {
		font-size: 36px;
		text-transform: capitalize;
	}

	.button-group {
		padding: 16px 0px;
		.filter-button {
			padding: 0px;
			font-size: 16px;
			margin-right: 30px;
			color: $default-black;
			text-transform: capitalize;
			font-family: 'Sk-Modernist-Mono';
			&:last-child {margin-right: 0px;}
			sup {
				font-size: 14px;
				padding: 2px 5px;
				color: $pure-white;
				background-color: $royalblue
			}
			&:hover {color: $royalblue;}
		}
		.filter-button.is-checked {color: $royalblue;}
	}

	.grid.portfolio-two {
		.grid-item,
		.grid-sizer {width: 25%;}

		.grid-item {
			padding: 15px;
			overflow: hidden;
			position: relative;
			.image-container {
				height: 430px;
				&:before {background-color: rgba(255,255,255,0.95);}
			}
			.item-content {
				top: 52%;
				left: 50%;
				opacity: 0;
				z-index: 2;
				padding: 30px;
				display: table;
				position: absolute;
				transition: $default-transition;
				transform: translate(-50%,-52%);
				.item-title {
					font-size: 48px;
					color: $default-black;
					font-family: 'Sk-Modernist-Bold';
				}
			}
			&:hover {
				.item-content {
					top: 50%;
					opacity: 1;
					transform: translate(-50%,-50%);
				}
			}
		}

		.grid-item-width {width: 50%;}
		.grid-item-big {
			width: 50%;
			.image-container {height: 890px;}
		}
	}
}
/* portfolio-two - end
================================================== */

/* home 2 - end
==================================================================================================== */





/* home 3 - start
==================================================================================================== */
/* slider-section-three - start
================================================== */
.slider-section-three {
	position: relative;
	.carousel-three {
		.item {
			.slider-content {
				padding: 0px 30px;
				.item-title  {
					font-size: 30px;
					text-transform: capitalize;
					font-family: 'Sk-Modernist-Bold';
				}
			}
		}
	}

	.owl-nav {
		right: 0;
		bottom: -8px;
		position: absolute;
		button,
		button {
			width: 40px;
			height: 40px;
			overflow: hidden;
			position: relative;
			color: transparent;
			background-color: transparent;
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				font-size: 24px;
				font-weight: 900;
				line-height: 40px;
				text-align: center;
				position: absolute;
				color: $default-color;
				background-color: $pure-white;
				font-family: 'Font Awesome 5 Free';
			}
			&:hover {
				&:before {color: $royalblue;}
			}
		}

		button.owl-prev {
			&:before {content: '\f060';}
		}
		button.owl-next {
			&:before {content: '\f061';}
		}
	}

	.owl-dots {
		margin: 0px;
		right: 15px;
		bottom: 60px;
		position: absolute;
	}
	.owl-dots:after {
		font-size: 24px;
		display: inline-block;
		content: counter(slides-num);
	}

	.owl-dot {
		display: inline-block;
		counter-increment: (slides-num);
	}
	.owl-dot span {display: none;}
	.owl-dot.active:before {
		font-size: 24px;
		display: inline-block;
		content: counter(slides-num) "/";
	}
}
/* slider-section-three - end
================================================== */



/* portfolio-section - start
================================================== */
.portfolio-section {
	.portfolio-three {
		margin-left: -30px;
		margin-right: -30px;
		.grid-item,
		.grid-sizer {width: 50%;}

		.grid-item {
			padding: 30px;
			.item-content {
				position: relative;
				padding-bottom: 50px;
				.image-container {
					&:before {display: none;}
				}
				.item-title {
					z-index: 2;
					opacity: 0;
					left: 30px;
					bottom: 50px;
					font-size: 30px;
					color: $pure-white;
					position: absolute;
					text-transform: capitalize;
					transition: $default-transition;
					text-shadow: 2px 2px 2px rgba(48,48,48,0.2);
				}
				.post-meta {
					left: 0px;
					bottom: 16px;
					position: absolute;
				}

				&:hover {
					.item-title {
						opacity: 1;
						bottom: 80px;
					}
				}
			}
		}

		.grid-item-big {
			width: 100%;
			.item-content {
				max-width: 80%;
				margin: 0 auto;
			}
		}
	}

	.load-more {
		margin-top: 80px;
		.load-more-btn {
			width: auto;
			font-size: 24px;
			text-align: center;
			color: $default-color;
			text-transform: capitalize;
			&:hover {color: $royalblue;}
		}
	}
}
/* portfolio-section - end
================================================== */
/* home 3 - end
==================================================================================================== */





/* home 4 - start
==================================================================================================== */
/* global settings - start
================================================== */
.home-page-4 {
	padding: 15px;

	.social-links-text {
		top: 50%;
		left: -210px;
		position: absolute;
		transform: rotate(-90deg);
		.title-text {
			&:after {background-color: $pure-white;}
		}
		>ul {
			>li {
				>a {color: $pure-white;}
			}
		}
	}

	.container-fluid {
		margin: 0 auto;
		max-width: 1695px;
	}
}
/* global settings - end
================================================== */



/* header-section - start
================================================== */
.home-page-4 {
	.header-section {
		position: relative;
		.default-header {
			box-shadow: none;
			padding: 30px 0px;
			background-color: #11161c;
			.main-menu {
				>ul {
					>li {
						margin-right: 45px;
						&:last-child {margin-right: 0px;}
						>a {
							color: rgba(255,255,255,0.7);
							&:before {color: rgba(255,255,255,0.7);}
						}
						&:hover {
							>a {
								color: $pure-white;
								&:before {color: $pure-white;}
							}
						}
					}
					>.active {
						>a {
							color: $pure-white;
							&:before {color: $pure-white;}
						}
					}
				}
			}

			.btns-group {
				>ul {
					>li {
						>button {
							color: $pure-white;
							background-color: rgba(255,255,255,0.1);
						}
						&:hover {
							>button {
								color: $royalblue;
								background-color: $pure-white;
							}
						}
					}
					.cart-btn {
						.cart-item-counter {
							color: $royalblue;
							background-color: $pure-white;
						}
					}
				}
			}
		}
	}
}
/* header-section - end
================================================== */



/* portfolio-section - start
================================================== */
.home-page-4 {
	.portfolio-section {
		background-color: #11161c;
		.load-more {
			margin-top: 80px;
			.load-more-btn {
				width: auto;
				font-size: 24px;
				text-align: center;
				color: $pure-white;
				text-transform: capitalize;
				&:hover {color: $royalblue;}
			}
		}
	}
}
.portfolio-section {
	.portfolio-four {
		.grid-item,
		.grid-sizer {width: 25%;}

		.grid-item {
			position: relative;
			.item-content {
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				z-index: 2;
				padding: 0px 30px;
				position: absolute;
				transition: $default-transition;
				.item-title {
					font-size: 30px;
					color: $pure-white;
					margin-bottom: 5px;
					text-transform: capitalize;
					text-shadow: 2px 2px 2px rgba(48,48,48,0.2);
				}
				.post-meta {
					ul {
						li {
							&:after {
								background-color: rgba(255,255,255,0.2);
							}
							a {
								color: rgba(255,255,255,0.8);
								&:hover {color: $pure-white;}
							}
						}
					}
				}
			}

			&:hover {
				.item-content {
					opacity: 1;
					bottom: 30px;
				}
			}
		}
	}
}
/* portfolio-section - end
================================================== */



/* about-section - start
================================================== */
.about-section-one {
	background-color: #11161c;
	.paragraph-text {
		font-size: 16px;
		line-height: 30px;
		color: rgba(255,255,255,0.8);
	}

	.title-content {
		.sec-title-text {
			display: table;
			position: relative;
			margin-bottom: 15px;
			padding-right: 30px;
			&:after {
				bottom: 6px;
				height: 2px;
				width: 50px;
				content: '';
				right: -30px;
				position: absolute;
				background-color: $pure-white;
			}
		}
		.paragraph-text {font-size: 24px;}
	}
}
/* about-section - end
================================================== */
/* home 4 - end
==================================================================================================== */





/* home 5 - start
==================================================================================================== */
/* header-section - start
================================================== */
.home-page-5 {
	.header-section {
		&:before {
			box-shadow: none;
			background-color: transparent;
		}
		.default-header {
			.main-menu {
				>ul {
					>li {
						margin-right: 45px;
						&:last-child {margin-right: 0px;}
						>a {
							color: rgba(255,255,255,0.8);
							&:before {color: rgba(255,255,255,0.8);}
						}
						&:hover {
							>a {
								color: $pure-white;
								&:before {color: $pure-white;}
							}
						}
					}
					>.active {
						>a {
							color: $pure-white;
							&:before {color: $pure-white;}
						}
					}
				}
			}

			.btns-group {
				>ul {
					>li {
						>button {
							color: $pure-white;
							background-color: rgba(255,255,255,0.1);
						}
						&:hover {
							>button {
								color: $royalblue;
								background-color: $pure-white;
							}
						}
					}
					.cart-btn {
						.cart-item-counter {
							color: $royalblue;
							background-color: $pure-white;
						}
					}
				}
			}
		}
	}
	.header-section.stuck {
		&:before {background-color: $default-black;}
	}
}
/* header-section - end
================================================== */



/* slider-section - start
================================================== */
.home-page-5 {
	.slider-section {
		.slider-items {
			margin: 0px;
			padding: 0px;
			.item {
				width: 100%;
				display: table;
				.tp-caption {
					.big-text {
						z-index: 1;
						font-size: 1000%;
						text-transform: capitalize;
						text-shadow: 0 2px 5px rgba(48,48,48,0.1);
					}
				}
			}
		}
	}
}
/* slider-section - end
================================================== */



/* service-section - start
================================================== */
.service-section {
	.title-text {
		margin: 0px;
		font-size: 36px;
		text-transform: uppercase;
	}
	.service-content {
		p {
			font-size: 24px;
			line-height: 30px;
		}
	}
}
/* service-section - end
================================================== */



/* portfolio-section - start
================================================== */
.home-page-5 {
	.button-group {padding: 0px;}
	.portfolio-section {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.portfolio-section {
	.grid.portfolio-five {
		.grid-item,
		.grid-sizer {width: 33.333%;}

		.grid-item {
			margin-top: 60px;
			padding: 0px 30px;
			position: relative;
			&:before {
				top: 40px;
				left: 50%;
				opacity: 1;
				z-index: 2;
				width: 40px;
				height: 2px;
				content: '';
				position: absolute;
				transform: translateX(-50%);
				background-color: $royalblue;
			}
			.item-title {
				left: 0;
				z-index: 1;
				margin: 0px;
				bottom: 20px;
				font-size: 30px;
				max-width: 200px;
				position: absolute;
				color: $default-black;
				text-shadow: 2px 2px 2px rgba(48, 48, 48, 0.2);
			}
			.image-container {
				width: 50%;
				float: left;
				&:before {display: none;}
				.plus-effect {background-color: rgba(255,255,255,0.8);}
			}
			.item-content {
				width: 50%;
				float: right;
				padding: 30px;
			}
		}
	}
}
/* portfolio-section - end
================================================== */
/* home 5 - end
==================================================================================================== */





/* home 6 - start
==================================================================================================== */
/* header-section - start
================================================== */
.home-page-6 {
	.header-section {
		&:before {
			box-shadow: none;
			background-color: transparent;
		}
		.default-header {
			.main-menu {
				>ul {
					>li {
						margin-right: 45px;
						&:last-child {margin-right: 0px;}
						>a {
							color: $pure-white;
							&:before {color: $pure-white;}
						}
						&:hover {
							>a {
								color: $royalblue;
								&:before {color: $royalblue;}
							}
						}
					}
					>.active {
						>a {
							color: $royalblue;
							&:before {color: $royalblue;}
						}
					}
				}
			}

			.btns-group {
				>ul {
					>li {
						>button {
							color: $pure-white;
							background-color: rgba(255,255,255,0.1);
						}
						&:hover {
							>button {
								color: $royalblue;
								background-color: $pure-white;
							}
						}
					}
					.cart-btn {
						.cart-item-counter {
							color: $royalblue;
							background-color: $pure-white;
						}
					}
				}
			}
		}
	}
	.header-section.stuck {
		&:before {background-color: $default-black;}
	}
}
/* header-section - end
================================================== */



/* slider-section - start
================================================== */
.home-page-6 {
	.slider-section {
		.slider-items {
			margin: 0px;
			padding: 0px;
			.item {
				width: 100%;
				display: table;
				.tp-caption {
					text-align: center;
					.big-text {
						z-index: 1;
						font-size: 900%;
						text-transform: capitalize;
						text-shadow: 0 2px 5px rgba(48,48,48,0.1);
					}
					.small-text {
						font-size: 200%;
						text-shadow: 0 2px 5px rgba(48,48,48,0.2);
					}
				}
			}
		}
	}
}
/* slider-section - end
================================================== */



/* portfolio-section - start
================================================== */
.portfolio-section {
	.grid.portfolio-six {
		.grid-item,
		.grid-sizer {width: 33.333%;}

		.grid-item {
			.image-container {
				&:before {background-color: rgba(255,255,255,0.9);}
			}
			.item-content {
				top: 52%;
				left: 50%;
				opacity: 0;
				z-index: 1;
				padding: 30px;
				display: table;
				position: absolute;
				transition: $default-transition;
				transform: translate(-50%,-52%);
				.item-title {
					font-size: 48px;
					color: $default-black;
					font-family: 'Sk-Modernist-Bold';
				}
			}
			&:hover {
				.item-content {
					top: 50%;
					opacity: 1;
					transform: translate(-50%,-50%);
				}
			}
		}
		.grid-item-big {width: 66.666%;}
		.grid-item-width {width: 66.666%;}
	}
}
/* portfolio-section - end
================================================== */
/* home 6 - end
==================================================================================================== */





/* home 7 - start
==================================================================================================== */
/* header-section - start
================================================== */
.home-page-7 {
	.header-section {
		&:before {
			box-shadow: none;
			background-color: transparent;
		}
	}
	.header-section.stuck {
		&:before {
			background-color: $pure-white;
			box-shadow: 0 2px 6px 1px rgba(48,48,48,0.1);
		}
	}
}
/* header-section - end
================================================== */



/* slider-section - start
================================================== */
.home-page-7 {
	.slider-section {
		.slider-items {
			margin: 0px;
			padding: 0px;
			.item {
				width: 100%;
				display: table;
				.tp-caption {
					.big-text {
						z-index: 1;
						font-size: 700%;
						text-align: center;
						text-transform: capitalize;
						text-shadow: 0 2px 5px rgba(48,48,48,0.1);
					}
					.small-text {
						font-size: 200%;
						text-shadow: 0 2px 5px rgba(48,48,48,0.1);
					}
				}
			}
		}
	}
}
/* slider-section - end
================================================== */



/* service-section - start
================================================== */
.service-section {
	.service-item {
		margin-top: 60px;
		.service-title {
			font-size: 24px;
			color: $royalblue;
			text-transform: capitalize;
			i {
				float: left;
				font-size: 36px;
				margin: -10px 0px;
				margin-right: 15px;
				color: $default-black;
			}
		}
	}
}
/* service-section - end
================================================== */



/* portfolio-section - start
================================================== */
.portfolio-section {
	.grid.portfolio-seven {
		margin-left: -15px;
		margin-right: -15px;
		.grid-item,
		.grid-sizer {width: 25%;}

		.grid-item {
			padding: 15px;
			.image-container {
				width: 100%;
				height: 251px;
			}
		}
		.grid-title {
			width: 50%;
			.title-text {
				margin: 0px;
				height: 251px;
				font-size: 54px;
				text-transform: capitalize;
			}
			&:before {display: none;}
		}
		.grid-item-big {
			width: 50%;
			.image-container {
				width: 100%;
				height: 532px;
			}
		}
		.grid-item-width {width: 50%;}
	}
}
/* portfolio-section - end
================================================== */
/* home 7 - end
==================================================================================================== */





/* home 8 - start
==================================================================================================== */
.portfolio-section {
	.grid.portfolio-eight {
		.grid-item,
		.grid-sizer {width: 25%;}

		.grid-item {
			.read-more-btn {
				left: -100%;
				z-index: 1;
				bottom: 30px;
				height: 35px;
				font-size: 14px;
				color: $royalblue;
				padding: 0px 30px;
				line-height: 35px;
				position: absolute;
				padding-left: 15px;
				text-transform: uppercase;
				background-color: transparent;
				&:before {
					top: 0;
					right: 0;
					bottom: 0;
					left: -25px;
					z-index: -1;
					content: '';
					position: absolute;
					transform: skewX(45deg);
					background-color: #ffffff;
				}
			}
			&:hover {
				.read-more-btn {
					left: 0%;
				}
			}
		}

		.grid-item-big {width: 50%}
	}
}
/* home 8 - end
==================================================================================================== */





/* home 9 - start
==================================================================================================== */
/* header-section - start
================================================== */
.home-page-9 {
	.header-section {
		&:before {
			box-shadow: none;
			background-color: transparent;
		}
		&:after {
			top: 0;
			right: 0;
			bottom: 0;
			width: 55%;
			z-index: -1;
			content: '';
			position: absolute;
			background-color: $royalblue;
			transition: $default-transition;
		}
		.default-header {
			.main-menu {
				>ul {
					>li {
						>a {
							color: rgba(255,255,255,0.8);
							&:before {color: rgba(255,255,255,0.8);}
						}
						&:hover {
							>a {
								color: $pure-white;
								&:before {color: $pure-white;}
							}
						}
					}
					>.active {
						>a {
							color: $pure-white;
							&:before {color: $pure-white;}
						}
					}
				}
			}

			.btns-group {
				>ul {
					>li {
						>button {color: $pure-white;}
						&:hover {
							>button {
								color: $royalblue;
								background-color: $pure-white;
							}
						}
					}
					.cart-btn {
						.cart-item-counter {
							color: $royalblue;
							background-color: $pure-white;
						}
					}
				}
			}
		}
	}
	.header-section.stuck {
		&:after {
			width: 0%;
			background-color: transparent;
		}
		&:before {
			background-color: $royalblue;
			box-shadow: 0 2px 6px 1px rgba(48,48,48,0.1);
		}
	}
}
/* header-section - end
================================================== */



/* slider-section-nine - start
================================================== */
.slider-section-nine {
	overflow-x: hidden;
	.main-slider-nine {
		.item {
			width: 100%;
			height: 100vh;
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			.slider-content {
				left: 0;
				right: 0;
				top: 50%;
				position: absolute;
				transform: translateY(-50%);
				.big-text {
					font-size: 150px;
					color: $pure-white;
					text-transform: capitalize;
				}
				p {
					font-size: 30px;
					line-height: 36px;
					text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
				}
			}
		}
	}
	.main-slider-nine-nav {
		width: 100%;
		min-width: 100%;
		padding: 5px 0px;
		.item {
			height: 250px;
			margin-right: 5px;
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			transition: $default-transition;
			background-position: center center;
			&:focus {outline: none;}
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 1;
				content: '';
				position: absolute;
				transform: scale(1);
				transition: $default-transition;
				background-color: rgba(255,255,255,0.8);
			}
			.slider-content {
				top: 50%;
				left: 50px;
				display: table;
				position: absolute;
				transform: translateY(-50%);
				.serial-number {
					font-size: 18px;
					color: $default-black;
				}
				.item-title {
					font-size: 24px;
					max-width: 200px;
					margin-bottom: 15px;
					color: $default-black;
				}
				.tag-taxt {
					font-size: 16px;
					color: $default-black;
					text-transform: capitalize;
				}
			}
		}
		.item.slick-current.slick-active {
			&:before {
				opacity: 0;
				transform: scale(.5);
			}
		}
	}

	.slick-prev,
	.slick-next {
		z-index: 1;
		opacity: 0;
		width: 40px;
		height: 60px;
		overflow: hidden;
		transition: $default-transition;
		&:before {
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			content: '';
			font-weight: 900;
			line-height: 60px;
			position: absolute;
			color: $pure-white;
			text-align: center;
			background-color: rgba(0,0,0,0.5);
			font-family: "Font Awesome 5 Free";
		}
	}
	.slick-prev {
		left: -40px;
		&:before {content: '\f060';}
	}
	.slick-next {
		right: -40px;
		&:before {content: '\f061';}
	}

	&:hover {
		.slick-prev {
			left: 0px;
			opacity: 1;
		}
		.slick-next {
			right: 0px;
			opacity: 1;
		}
	}
}
/* slider-section-nine - end
================================================== */



/* about-section - start
================================================== */
.about-section-two {
	.about-content {
		.title-text {
			margin: 0px;
			font-size: 42px;
		}
		.sub-title-text {
			font-size: 16px;
			position: relative;
			padding-left: 60px;
			margin-bottom: 15px;
			letter-spacing: 1px;
			color: $default-color;
			text-transform: capitalize;
			font-family: 'Sk-Modernist-Regular';
			&:before {
				left: 0;
				top: 50%;
				height: 2px;
				width: 40px;
				content: '';
				position: absolute;
				transform: translateY(-50%);
				background-color: $royalblue;
			}
		}
	}
}
/* about-section - end
================================================== */



/* portfolio-section - start
================================================== */
.portfolio-section {
	.grid.portfolio-nine {
		.grid-item,
		.grid-sizer {width: 50%;}

		.grid-item {
			.image-container {height: 325px;}
		}
		.grid-item-big {
			.image-container {height: 725px;}
		}
	}
}
/* portfolio-section - end
================================================== */
/* home 9 - end
==================================================================================================== */





/* home 10 - start
==================================================================================================== */
/* main-slider-ten - start
================================================== */
.main-slider-ten {
	overflow-x: hidden;
	.item {
		&:focus {outline: none;}
		.slider-content {
			width: 50%;
			height: 100vh;
			display: table;
			position: relative;
			.position-y-middle {
				top: 50%;
				left: 50%;
				display: table;
				position: absolute;
				transform: translate(-50%,-50%);
				.post-label {
					font-size: 18px;
					color: $royalblue;
					text-transform: capitalize;
				}
				.title-text {
					font-size: 54px;
					color: $default-black;
					font-family: 'Sk-Modernist-Bold';
				}
				p {
					display: table;
					font-size: 24px;
					max-width: 460px;
					line-height: 30px;
				}
				.view-btn {
					width: auto;
					height: 50px;
					font-size: 16px;
					line-height: 46px;
					padding: 0px 30px;
					text-align: center;
					color: $default-black;
					text-transform: capitalize;
					border: 1px solid $royalblue;
					&:hover {
						color: $pure-white;
						background-color: $royalblue;
					}
				}
			}
		}
		.slider-image {
			width: 50%;
			height: 100vh;
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
				display: block;
			}
		}
	}

	.slick-prev,
	.slick-next {
		opacity: 0;
		width: 40px;
		height: 60px;
		overflow: hidden;
		background: transparent;
		transition: $default-transition;
		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			font-size: 24px;
			font-weight: 900;
			line-height: 60px;
			text-align: center;
			color: $pure-white;
			position: absolute;
			font-family: "Font Awesome 5 Free";
			background-color: rgba(48,48,48,0.8);
		}
	}
	.slick-prev {
		left: -40px;
		&:before {content: '\f060';}
	}
	.slick-next {
		right: -40px;
		&:before {content: '\f061';}
	}

	&:hover {
		.slick-prev {
			left: 0px;
			opacity: 1;
		}
		.slick-next {
			right: 0px;
			opacity: 1;
		}
	}
}
/* main-slider-ten - start
================================================== */



/* about-section - start
================================================== */
.about-section-three {
	padding: 80px;
	padding-right: 0px;
	overflow-x: hidden;
	.about-content {
		width: 20%;
		float: left;
		.section-title {
			.sec-title-text {
				margin: 0px;
				font-size: 114px;
				position: relative;
				>span {
					left: 0;
					top: -20px;
					line-height: 0;
					position: absolute;
				}
			}
		}
		.title-text {font-size: 30px;}
		p {font-size: 18px;}
		.read-more-btn {
			font-size: 18px;
			color: $default-black;
		}
	}
	.about-images {
		width: 80%;
		float: right;
		margin-left: -15px;
		margin-right: -15px;


		.grid-item,
		.grid-sizer {
			width: 33.333%;
		}

		.grid-item {
			padding: 15px;
			.image-container {
				height: 330px;
				&:before {display: none;}
			}
			&:hover {
				.image-container {
					img {transform: scale(1);}
				}
			}
		}
		.grid-item-big {
			width: 100%;
			.image-container {
				width: 70%;
				height: 400px;
			}
		}
		.grid-item-width {
			width: 66.666%;
			.image-container {
				display: flex;
				img {margin: auto;}
			}
		}
	}
}
/* about-section - end
================================================== */



/* portfolio-section - start
================================================== */
.portfolio-section {
	.grid.portfolio-ten {
		margin-left: -15px;
		margin-right: -15px;
		.grid-item,
		.grid-sizer {width: 50%;}
		.grid-item {
			padding: 15px;
			.item-content {padding: 0px 15px;}
		}
	}
}
/* portfolio-section - end
================================================== */
/* home 10 - end
==================================================================================================== */





/* home 11 - start
==================================================================================================== */
.home-page-11 {
	padding-left: 100px;
	.contact-grid-btn {
		top: 20px;
		right: 30px;
		z-index: 999;
		position: fixed;
		ul {
			li {
				margin-right: 30px;
				&:last-child {margin-right: 0px;}
				a {
					font-size: 16px;
					color: $pure-white;
					text-transform: uppercase;
					&:hover {color: $royalblue;}
				}
			}
		}
	}
}

// slider-section-eleven - start
.slider-section-eleven {
	position: relative;
	.slider-items-container {
		.item {
			height: 100vh;
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
			.slider-content {
				left: 50%;
				top: 100px;
				z-index: 1;
				width: 1200px;
				padding-left: 15px;
				position: absolute;
				padding-right: 15px;
				transform: translateX(-50%);
				.slider-number {
					font-size: 162px;
					color: $pure-white;
					margin-bottom: 15px;
					font-family: 'Sk-Modernist-Regular';
					text-shadow: 0 1px 3px rgba(48,48,48,0.1);
				}
				.title-text {
					font-size: 72px;
					max-width: 745px;
					color: $pure-white;
					text-shadow: 0 1px 3px rgba(48,48,48,0.1);
				}
				.sub-title-text {
					display: table;
					font-size: 24px;
					color: $pure-white;
					position: relative;
					padding-right: 30px;
					text-transform: uppercase;
					font-family: 'Sk-Modernist-Regular';
					text-shadow: 0 1px 3px rgba(48,48,48,0.1);
					&:after {
						top: 16px;
						content: '';
						height: 2px;
						width: 260px;
						right: -260px;
						position: absolute;
						background-color: $pure-white;
					}
				}
			}
		}
	}
	.slider-items-nav {
		z-index: 1;
		right: 80px;
		bottom: 40px;
		padding: 0px;
		height: auto;
		max-width: 400px;
		position: absolute;
		box-shadow: 0px 5px 30px 1px rgba(48,48,48,0.2);
		.slick-list.draggable {padding: 0px!important;}
		.item {
			width: 100%;
			overflow: hidden;
			position: relative;
			&:focus {outline: none;}
			.item-content {
				top: 0;
				left: 0;
				bottom: 0;
				z-index: 1;
				width: 50%;
				padding: 25px;
				position: absolute;
				background-color: rgba(255,255,255,0.9);
				.item-title {
					font-size: 24px;
					margin-bottom: 15px;
					color: $default-black;
				}
				.tag-link {
					color: $default-color;
					text-transform: capitalize;
				}
				.date-text {
					color: $royalblue;
					text-transform: uppercase;
				}
			}
		}
		.item.slick-current.slick-active {display: none;}

		.slick-prev,
		.slick-next {
			top: 50%;
			z-index: 1;
			width: 40px;
			height: 40px;
			position: absolute;
			background: transparent;
			transform: translateY(-50%);
			transition: $default-transition;
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				font-weight: 900;
				line-height: 40px;
				color: $royalblue;
				text-align: center;
				position: absolute;
				transition: $default-transition;
				font-family: 'Font Awesome 5 Free';
				background-color: rgba(255,255,255,0.9);
				box-shadow: 0px 0px 10px 1px rgba(48,48,48,0.1);
			}
		}
		.slick-prev {
			left: -50px;
			&:before {content: '\f060';}
		}
		.slick-next {
			right: -50px;
			&:before {content: '\f061';}
		}

		&:hover {
			.slick-prev {
				left: -30px;
				&:before {opacity: 1;}
			}
			.slick-next {
				right: -30px;
				&:before {opacity: 1;}
			}
		}
	}
}
// slider-section-eleven - end
/* home 11 - end
==================================================================================================== */





/* home 12 - start
==================================================================================================== */
.home-page-12 {padding-left: 100px;}

/* portfolio-section - start */
.portfolio-section {
	.portfolio-eight {
		width: 100%;
		height: 100%;
		display: table;
		.nav {
			width: 25%;
			margin: 0px;
			padding: 0px;
			float: right;
			height: 100%;
			overflow-y: scroll;
			&::-webkit-scrollbar {width: 0px;}
			li {
				width: 100%;
				display: table;
				a {
					width: 100%;
					padding: 0px;
					height: 100%;
					display: block;
					position: relative;
					&:before {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						opacity: 1;
						content: '';
						position: absolute;
						transition: $default-transition;
						background-color: rgba(0,0,0,0.5);
					}
					&:hover {
						&:before {opacity: 0;}
					}
				}
				.active {
					&:before {opacity: 0;}
				}
			}
		}
		.tab-content {
			.tab-pane {
				width: 75%;
				height: 100%;
				padding: 30px;
				position: relative;
				transition: $default-transition;
				.tab-pagination {
					display: table;
					min-width: 200px;
					position: relative;
					&:before {
						top: 50%;
						left: 50%;
						z-index: -1;
						content: '';
						width: 60%;
						height: 2px;
						position: absolute;
						background-color: $deep-gray;
						transform: translate(-50%,50%);
					}
					.total-item,
					.item-number {
						z-index: 1;
						font-size: 18px;
						text-align: center;
						color: $default-black;
						background-color: $pure-white;
					}
				}
				.image-container {
					z-index: 1;
					height: 100%;
					max-width: 991px;
					margin: 60px auto;
					position: relative;
					img {
						width: 100%;
						display: block;
					}
					.item-content {
						top: 50%;
						left: 50%;
						width: 70%;
						height: 50%;
						padding: 60px;
						display: table;
						position: absolute;
						text-align: center;
						transform: translate(-50%,-50%);
						background-color: rgba(255,255,255,0.95);
						box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
						.item-title {
							font-size: 54px;
							margin-bottom: 30px;
							color: $default-black;
						}
						p {
							font-size: 16px;
							color: $default-black;
						}
						.read-more {
							font-size: 18px;
							position: relative;
							color: $default-black;
							text-transform: uppercase;
							font-family: 'Sk-Modernist-Bold';
							&:before {
								left: 50%;
								top: -35px;
								width: 2px;
								content: '';
								height: 30px;
								position: absolute;
								background-color: $default-black;
							}
						}
					}
				}
				.category-text {
					font-size: 18px;
					position: relative;
					padding-left: 50px;
					text-transform: capitalize;
					&:before {
						top: 50%;
						left: 0px;
						width: 40px;
						height: 2px;
						content: '';
						position: absolute;
						transform: translateY(-50%);
						background-color: $deep-gray;
					}
				}
				.tag-list {
					top: 50%;
					z-index: 1;
					right: -50px;
					position: absolute;
					transform: rotate(-90deg) translateY(-50%);
					ul {
						li {
							position: relative;
							margin-right: 15px;
							padding-right: 15px;
							&:after {
								top: 50%;
								right: -3px;
								content: '/';
								font-size: 18px;
								position: absolute;
								color: $default-color;
								transform: translateY(-50%);
							}
							&:last-child {
								padding-right: 0px;
								padding-right: 0px;
								&:after {display: none;}
							}
							a {
								font-size: 18px;
								color: $default-color;
								text-transform: capitalize;
								&:hover {
									color: $royalblue;
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}
}
/* portfolio-section - end */
/* home 12 - end
==================================================================================================== */