/* newsletter section - start
==================================================================================================== */
.newsletter-section {
	.title-text {
		font-size: 48px;
		color: $royalblue;
		text-transform: capitalize;
	}
	.newsletter-form {
		p {
			font-size: 24px;
			line-height: 30px;
			font-family: 'Sk-Modernist-regular';
		}
		.newsletter-input {
			position: relative;
			input[type=email] {
				width: 100%;
				margin: 0px;
				height: 50px;
				padding: 0px 20px;
				border: 1px solid $deep-gray;
				transition: $default-transition;
				&:focus {
					outline: none;
					border-color: $royalblue;
					+label {
						left: 0px;
						top: -37px;
					}
				}
			}
			label {
				top: -20px;
				left: 20px;
				width: auto;
				height: 35px;
				font-size: 16px;
				padding: 0px 15px;
				line-height: 35px;
				color: $pure-white;
				position: absolute;
				text-align: center;
				text-transform: capitalize;
				background-color: $royalblue;
				transition: $default-transition;
				font-family: 'Sk-Modernist-regular';
			}
		}
	}
}
/* newsletter section - end
==================================================================================================== */