/* partner section - start
==================================================================================================== */
.partner-section {
	.partner-title-content {
		.title-text {
			margin: 0px;
			font-size: 30px;
			color: $pure-white;
			padding: 20px 30px;
			text-transform: capitalize;
		}
		p {font-size: 24px;}
		h3 {font-size: 38px;}
	}
	.partner-carousel {
		.item {
			a {
				width: 100%;
				height: 100px;
				position: relative;
				img {
					top: 50%;
					left: 50%;
					max-width: 70%;
					position: absolute;
					transform: translate(-50%,-50%);
				}
			}
		}
	}
}
/* partner section - end
==================================================================================================== */