/* portfolio page - start
==================================================================================================== */
/* portfolio page 1 - start
================================================== */
.portfolio-page-1 {
	.portfolio-section {
		padding-left: 15px;
		padding-right: 15px;
	}
}
/* portfolio page 1 - end
================================================== */



/* portfolio page 4 -- - start
================================================== */
.portfolio-page-4 {
	.portfolio-section {
		padding-left: 30px;
		padding-right: 30px;
	}
}
/* portfolio page 4 -- - end
================================================== */



/* portfolio page 8 - start
================================================== */
.portfolio-page-8 {
	.grid.portfolio-ten {
		.grid-item,
		.grid-sizer {width: 33.333%}

		.grid-item {
			.item-content {
				z-index: 1;
				padding: 15px;
				position: relative;
				padding-bottom: 0px;
				padding-right: 50px;
				&:before {
					top: -30px;
					z-index: 1;
					width: 0px;
					left: 15px;
					height: 0px;
					content: '';
					position: absolute;
					border-top: 15px solid transparent;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-bottom: 15px solid $pure-white;
				}
				.item-title {
					font-size: 24px;
					text-transform: capitalize;
				}
				.item-category {
					font-size: 14px;
					text-transform: uppercase;
				}
				.like-btn {
					top: 50%;
					right: 10px;
					font-size: 14px;
					position: absolute;
					color: $default-black;
					transform: translateY(-50%);
					.icon {
						width: 100%;
						font-size: 18px;
						text-align: center;
					}
					&:hover {color: $royalblue;}
				}
			}
		}
	}
}
/* portfolio page 8 - end
================================================== */



/* portfolio page 9 - start
================================================== */
.portfolio-section {
	.grid.portfolio-eleven {
		margin-left: -15px;
		margin-right: -15px;
		.grid-item,
		.grid-sizer {width: 33.333%;}

		.grid-item {
			padding: 15px;
			position: relative;
			.image-container {
				&:before {
					background-color: rgba(255, 255, 255, 0.9);
				}
				.item-content {
					left: 0px;
					right: 0px;
					z-index: 1;
					opacity: 0;
					bottom: -15px;
					padding: 15px;
					position: absolute;
					transition: $default-transition;
					background-color: $default-black;
					&:before {
						top: -30px;
						z-index: 1;
						width: 0px;
						left: 15px;
						height: 0px;
						content: '';
						position: absolute;
						border-top: 15px solid transparent;
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						border-bottom: 15px solid $default-black;
					}
					.item-title {
						font-size: 20px;
						color: $pure-white;
						text-transform: capitalize;
					}
					.item-category {
						color: #02b8ea;
						font-size: 14px;
						text-transform: uppercase;
					}
					.like-btn {
						top: 50%;
						right: 10px;
						font-size: 14px;
						position: absolute;
						transform: translateY(-50%);
						color: rgba(255,255,255,0.6);
						.icon {
							width: 100%;
							font-size: 18px;
							text-align: center;
						}
						&:hover {color: $pure-white;}
					}
				}
			}
			&:hover {
				.image-container {
					.item-content {
						opacity: 1;
						bottom: 0px;
					}
				}
			}
		}
		.grid-item-big {
			width: 66.666%;
		}
		.grid-item-width {
			width: 66.666%;
		}
	}
}
/* portfolio page 9 - end
================================================== */
/* portfolio page - end
==================================================================================================== */





/* portfolio details page - start
==================================================================================================== */
.portfolio-details-item {
	.details-content {
		.item-title {
			font-size: 36px;
			margin-bottom: 15px;
			color: $default-black;
		}
		.post-category {
			.title-text {
				float: left;
				font-size: 16px;
				margin-right: 15px;
			}
			ul {
				li {
					margin-right: 10px;
					position: relative;
					&:after {
						right: -5px;
						bottom: 1px;
						content: ',';
						position: absolute;
						color: $default-color;
					}
					&:last-child {
						margin-right: 0px;
						&:after {display: none;}
					}
					a {
						color: $royalblue;
						&:hover {text-decoration: underline;}
					}
				}
			}
		}
		.image-container {
			img {
				width: 100%;
				display: block;
			}
		}

		.blockquote {
			padding: 30px;
			margin: 20px 0px;
			p {
				font-size: 30px;
				line-height: 36px;
				color: $default-black;
			}
		}
		.post-admin {
			font-size: 16px;
			.admin-link {
				color: $royalblue;
				text-transform: capitalize;
				font-family: 'Sk-Modernist-Bold';
			}
		}

		.Jenobookt-text {
			float: right;
			font-size: 18px;
			max-width: 320px;
			margin-left: 15px;
			text-align: right;
			padding: 15px 20px;
			color: $default-black;
			font-family: 'Sk-Modernist-Bold';
			border-top: 2px solid $royalblue;
		}
		.portfolio-item-info {
			ul {
				li {
					margin-bottom: 30px;
					&:last-child {margin-bottom: 0px;}
					strong {
						width: 100%;
						font-size: 24px;
						color: $default-black;
					}
					span {font-size: 16px;}
				}
			}
		}
	}
}

.portfolio-section {
	.other-post-links {
		padding-top: 60px;
		.post-link {
			a {
				font-size: 30px;
				color: $default-black;
				font-family: 'Sk-Modernist-Bold';
				.icon {
					width: 100%;
					font-size: 54px;
					padding: 0px 30px;
				}
				&:hover {color: $royalblue;}
			}
		}
	}
}
/* portfolio details page - end
==================================================================================================== */