/* global area - start
==================================================================================================== */
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  padding-top: 87px;
  color: $default-color;
  background-color: $pure-white;
  font-family: 'Sk-Modernist-Regular';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: $pure-white;
  background: $royalblue;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1870px;
}

a,
button {
  cursor: pointer;
  line-height: normal;
  display: inline-block;
  color: $default-black;
  font-family: 'Sk-Modernist-Regular';
  &:focus {outline: none;}
  &:hover {text-decoration: none;}
}
button {
  padding: 0px;
  border: none;
  background: none;
}

img {
  height: auto;
  max-width: 100%;
}
.image-container {
  overflow: hidden;
  position: relative;
}
h1,h2,h3,h4,h5,h6 {
  line-height: normal;
  color: $default-black;
  font-family: 'Sk-Modernist-Bold';
}
strong,span,small,label,i {
  margin: 0px;
  padding: 0px;
  line-height: normal;
  display: inline-block;
  font-family: 'Sk-Modernist-Regular';
}
strong {font-family: 'Sk-Modernist-Bold';}

.form-item {
  position: relative;
  margin-bottom: 30px;
  input {
    width: 100%;
    height: 50px;
    outline: none;
    box-shadow: none;
    padding: 0px 20px;
    padding-right: 50px;
    border: 1px solid $deep-gray;
    background-color: $pure-white;
    transition: $default-transition;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $royalblue;
      +.form-item-btn {color: $royalblue;}
    }
  }
  .form-item-btn {
    top: 50%;
    right: 0px;
    z-index: 1;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    color: $default-color;
    transform: translateY(-50%);
    background-color: $pure-white;
    transition: $default-transition;
  }
}
.form-textarea {
  position: relative;
  margin-bottom: 30px;
  textarea {
    width: 100%;
    min-height: 100px;
    padding: 15px 20px;
    border: 1px solid $deep-gray;
    background-color: $pure-white;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $royalblue;
    }
  }
}
:-moz-placeholder {
  color: $default-color;
  text-transform: capitalize;
}
::-moz-placeholder {
  color: $default-color;
  text-transform: capitalize;
}
:-ms-input-placeholder {
  color: $default-color;
  text-transform: capitalize;
}
::-webkit-input-placeholder {
  color: $default-color;
  text-transform: capitalize;
}



/* list style settings - start 
================================================== */
.ul-li {
  >ul {
    margin: 0px;
    padding: 0px;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}

.ul-li-block {
  width: 100%;
  display: table;
  >ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
    >li {
      width: 100%;
      display: table;
      list-style: none;
    }
  }
}

.ul-li-right {
  >ul {
    margin: 0px;
    padding: 0px;
    float: right;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}

.ul-li-center {
  >ul {
    padding: 0px;
    display: table;
    margin: 0 auto;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}
/* list style settings - end
================================================== */



/* social-links-text - start
================================================== */
.social-links-text {
  .title-text {
    float: left;
    margin: -4px 0px;
    padding: 5px 10px;
    color: $pure-white;
    position: relative;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'Sk-Modernist-Bold';
    &:after {
      top: 50%;
      width: 6px;
      height: 2px;
      content: '';
      right: -10px;
      position: absolute;
      transform: translateY(-50%);
      background-color: $default-black;
    }
  }
  >ul {
    >li {
      margin-right: 15px;
      &:last-child {margin-right: 0px;}
      >a {
        font-size: 16px;
        color: $default-black;
        text-transform: uppercase;
        font-family: 'Sk-Modernist-Mono';
        &:hover {text-decoration: underline;}
      }
    }
  }
}
/* social-links-text - end
================================================== */



/* post-meta - start
================================================== */
.post-meta {
  >ul {
    >li {
      font-size: 16px;
      position: relative;
      margin-right: 15px;
      padding-right: 15px;
      text-transform: capitalize;
      font-family: 'Sk-Modernist-Mono';
      &:after {
        top: 50%;
        width: 2px;
        right: -1px;
        content: '';
        height: 15px;
        position: absolute;
        transform: translateY(-50%);
        background-color: rgba(48,48,48,0.1);
      }
      &:last-child {
        margin-right: 0px;
        padding-right: 0px;
        &:after {display: none;}
      }
      a {
        font-size: 16px;
        color: $default-color;
        text-transform: capitalize;
        font-family: 'Sk-Modernist-Mono';
        &:hover {color: $royalblue;}
      }

      .admin {
        color: $royalblue;
        text-transform: uppercase;
      }
    }
  }
}
/* post-meta - end
================================================== */



/* item label - start
================================================== */
.item-label {
  top: 15px;
  left: 15px;
  z-index: 1;
  display: table;
  position: absolute;
  >ul {
    margin: 0px;
    padding: 0px;
    display: table;
    >li {
      display: table;
      font-size: 14px;
      padding: 5px 10px;
      color: $pure-white;
      margin-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
      background-color: $royalblue;
      box-shadow: 0px 3px 9px 1px rgba(48,48,48,0.2);
      &:last-child {margin-bottom: 0px;}
    }
  }
}
/* item label - end
================================================== */



/* rating star - start
================================================== */
.rating-star {
  ul {
    li {
      font-size: 12px;
      margin-right: 1px;
      color: $default-color;
      &:last-child {margin-right: 0px;}
    }
    .rated {color: #f2b01e;}
  }
}
/* rating star - end
================================================== */



/* action buttons - start
================================================== */
.drop-action-btns {
  top: 0px;
  z-index: 2;
  right: 15px;
  position: absolute;
  >ul {
    margin: 0px;
    padding: 0px;
    >li {
      z-index: 1;
      float: left;
      position: absolute;
      display: inline-block;
      transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      >a {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
        color: $royalblue;
        text-align: center;
        border-radius: 100%;
        background-color: $pure-white;
        box-shadow: 0px 3px 15px 1px rgba(48,48,48,0.2);
        &:hover {
          color: $pure-white;
          background-color: $royalblue;
        }
      }
    }
    >.plus-btn {
      top: -70px;
      opacity: 0;
      right: 50px;
      transition-delay: .2s;
    }
    >.expand-btn {
      top: -70px;
      right: 0px;
      opacity: 0;
      transition-delay: .1s;
    }
  }
}
/*on hover - start
==============================
&:hover {
  .drop-action-btns {
    >ul {
      >.plus-btn {
        top: 15px;
        opacity: 1;
      }
      >.expand-btn {
          top: 15px;
        opacity: 1;
      }
    }
  }
}
on hover - start
============================== */



.scale-action-btns {
  top: 0px;
  z-index: 2;
  right: 0px;
  padding: 15px;
  position: absolute;
  >ul {
    margin: 0px;
    padding: 0px;
    >li {
      opacity: 0;
      z-index: 1;
      float: left;
      margin-right: 8px;
      transform: scale(.8);
      display: inline-block;
      transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      &:last-child {margin-right: 0px;}
      >a {
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
        color: $royalblue;
        text-align: center;
        border-radius: 100%;
        background-color: $pure-white;
        box-shadow: 0px 3px 15px 1px rgba(48,48,48,0.2);
        &:hover {
          color: $pure-white;
          background-color: $royalblue;
        }
      }
    }
    >.plus-btn {transition-delay: .2s;}
    >.expand-btn {transition-delay: .1s;}
  }
}
/*on hover - start
==============================
&:hover {
  .scale-action-btns {
    >ul {
      >li {
         opacity: 1;
        transform: scale(1);
      }
    }
  }
}
on hover - start
============================== */
/* action buttons - end
================================================== */




/* portfolio setting - start
================================================== */
.grid-sizer,
.grid-item {
  float: left;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.grid-item {
  .image-container {
    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      content: '';
      position: absolute;
      transition: $default-transition;
      background-color: rgba(0,0,255,0.9);
    }
    img {
      width: 100%;
      display: block;
      transform: scale(1);
      transition: $default-transition;
    }
  }
  &:hover {
    .image-container {
      &:before {opacity: 1;}
      img {transform: scale(1.2);}
      .dot-effect,
      .plus-effect {opacity: 1;}
      .drop-action-btns {
        >ul {
          >.plus-btn {
            top: 15px;
            opacity: 1;
          }
          >.expand-btn {
            top: 15px;
            opacity: 1;
          }
        }
      }
      .scale-action-btns {
        >ul {
          >li {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
  }
}
/* portfolio setting - end
================================================== */



/* padding - margin setting - start 
================================================== */
.sec-ptb-80 {padding: 80px 0px;}
.sec-ptb-60 {padding: 60px 0px;}

.mb-15 {margin-bottom: 15px;}
.mb-30 {margin-bottom: 30px;}
.mb-60 {margin-bottom: 60px;}
.mb-80 {margin-bottom: 80px;}
/* padding - margin setting - end
================================================== */



/* title text - start
================================================== */
.section-title {
  .sec-title-text {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: capitalize;
  }
}

.item-title {
  margin: 0px;
  padding: 0px;
  color: $default-black;
  transition: $default-transition;
  &:hover {color: $royalblue;}
}
/* title text - end
================================================== */



/* plus effect - start
================================================== */
.plus-effect {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  transition: $default-transition;
  background-color: rgba(255, 255, 255, 0.9);
  &:after,
  &:before {
    top: 50%;
    left: 50%;
    content: "";
    position: absolute;
    border-radius: 10px;
    background-color: $royalblue;
    transition: $default-transition;
    transform: translateX(-50%) translateY(-50%);
  }
  &:before {
    height: 4px;
    width: 60px;
  }
  &:after {
    width: 4px;
    height: 60px;
  }
}
/* plus effect - end
================================================== */



/* dot effect - start
================================================== */
.dot-effect {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  transition: $default-transition;
  background-color: rgba(0, 0, 255, 0.9);
  &:before {
    top: 50%;
    left: 50%;
    font-size: 60px;
    content: "\f20b";
    color: $pure-white;
    position: absolute;
    font-family: "Ionicons";
    transform: translate(-50%,-50%);
  }
}
/* dot effect - end
================================================== */



/* back to top - start
================================================== */
#thetop {
  top: 0;
  left: 0;
  right: 0;
  width: 0px;
  height: 0px;
  z-index: -1;
  position: absolute;
}
.backtotop {
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 999;
  bottom: 65px;
  display: none;
  position: fixed;
  border-radius: 100%;
  background-color: #0000ff;
  box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.2);
  .scroll {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    color: #ffffff;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    position: relative;
  }
}
/* back to top - end
================================================== */



/* preloader - start
================================================== */
#preloader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
  position: fixed;
  overflow: visible;
  background: $pure-white url('../images/preloader.gif') no-repeat center center;
}
/* preloader - end
================================================== */



/* custom colors - start
================================================== */
.color-royalblue {color: $royalblue;}
.color-default {color: $default-color;}
.color-default-black {color: $default-black;}

.bg-royalblue {background-color: $royalblue;}
.bg-default {background-color: $default-color;}
.bg-default-black {background-color: $default-black;}

.color-white {color: $pure-white;}
.color-black {color: $pure-black;}
.bg-white {background-color: $pure-white;}
.bg-black {background-color: $pure-black;}

.color-deep-gray {color: $deep-gray;}
.color-light-gray {color: $light-gray;}
.bg-deep-gray {background-color: $deep-gray;}
.bg-light-gray {background-color: $light-gray;}

.color-twitter {color: $twitter;}
.color-youtube {color: $youtube;}
.color-facebook {color: $facebook;}
.color-linkedin {color: $linkedin;}
.color-dribbble {color: $dribbble;}
.color-snapchat {color: $snapchat;}
.color-pinterest {color: $pinterest;}
.color-google-plus {color: $google-plus;}
.color-instagram-magenta {color: $instagram-magenta;}

.bg-twitter {background-color: $twitter;}
.bg-youtube {background-color: $youtube;}
.bg-facebook {background-color: $facebook;}
.bg-linkedin {background-color: $linkedin;}
.bg-dribbble {background-color: $dribbble;}
.bg-snapchat {background-color: $snapchat;}
.bg-pinterest {background-color: $pinterest;}
.bg-google-plus {background-color: $google-plus;}
.bg-instagram-magenta {background-color: $instagram-magenta;}
/* custom colors - end
================================================== */



/* transition - start
================================================== */
a,
button {
  transition: $default-transition;
}
/* transition - end
================================================== */
/* global area - end
==================================================================================================== */