/* ================================================== 
*	Project Name 	:  Hello Porto portfolio
*	File 			:  Responsive CSS Base
*	Version 		:  1.0.0
*	Last change 	:  10 January 2019
*	Author 			:  HtmlMate

*	css code for responsive layout To make Responsive
================================================== */

/* ==================================================
*	1 - media screen and (max-width: 1903px)
*	2 - media screen and (max-width: 1199px)
*	3 - media screen and (max-width: 991px)
*	4 - media screen and (max-width: 767px)
*	5 - media screen and (max-width: 680px)
*	6 - media screen and (max-width: 480px)
*	7 - media screen and (max-width: 320px)
================================================== */





/*  ====================================================================================================
1 - media screen and (max-width: 1903px) - start
==================================================================================================== */

@media screen and (max-width: 1903px) {
	body {font-size: 14px;}
	.post-meta > ul > li {font-size: 14px;}
	.post-meta > ul > li a {font-size: 16px;}

	.header-section .default-header .main-menu > ul > li {margin-right: 20px;}

	.portfolio-section .grid.portfolio-one .grid-item .item-content .item-title {font-size: 30px;}
	.portfolio-section .grid.portfolio-one .grid-item .item-content {padding-top: 40px;}
	.container-fluid {max-width: 100%;}

	.home-page-2 .header-section .default-header .main-menu > ul > li {margin-right: 20px;}
	.portfolio-section .grid.portfolio-two .grid-item .image-container {height: 290px;}
	.portfolio-section .grid.portfolio-two .grid-item-big .image-container {height: 620px;}
	.portfolio-section .grid.portfolio-two .grid-item .item-content .item-title {
		font-size: 30px;
		margin-bottom: 5px;
	}

	.home-page-4 .header-section .default-header .main-menu > ul > li {margin-right: 20px;}

	.portfolio-section .grid.portfolio-five .grid-item,
	.portfolio-section .grid.portfolio-five .grid-sizer {width: 50%;}

	.home-page-6 .header-section .default-header .main-menu > ul > li {margin-right: 20px;}

	.home-page-8 {padding-left: 100px;}

	.home-page-9 .header-section:after {width: 70%;}
	.main-menu > ul > .menu-item-has-child > .sub-menu {top: 23px;}

	.slider-section-ten .item .slider-content .position-y-middle .title-text {font-size: 36px;}
	.about-section-three .about-content {width: 30%;}
	.about-section-three .about-images {
		width: 70%;
		margin: 0px;
	}
	.about-section-three .about-images .grid-item .image-container {
		width: 100%;
		height: auto;
	}
	.about-section-three .about-images .grid-item {width: 33.333%;}
	.about-section-three .about-images .grid-item-big {width: 100%;}
	.about-section-three .about-images .grid-item-width {width: 66.666%;}

	.slider-section-eleven .slider-items-container .item .slider-content {top: 70px;}
	.slider-section-eleven .slider-items-container .item .slider-content .slider-number {font-size: 132px;}
	.slider-section-eleven .slider-items-container .item .slider-content .title-text {
		font-size: 48px;
		max-width: 500px;
	}
	.slider-section-eleven .slider-items-container .item .slider-content .sub-title-text {
		font-size: 18px;
		padding-right: 15px;
	}
	.slider-section-eleven .slider-items-container .item .slider-content .sub-title-text:after {
		width: 100px;
		right: -100px;
	}
	.slider-section-eleven .slider-items-nav .item .item-content .item-title {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.slider-section-eleven .slider-items-nav .item .item-content .tag-link {margin-bottom: 10px;}

	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container .item-content {
		width: 80%;
		height: 80%;
	}
	.blog-list-item .blog-content .blog-title,
	.full-width-blog .blog-content .blog-title {font-size: 24px;}
	.blog-details-item .blog-content .related-posts .related-posts-carousel .item .item-content .post-meta > ul > li {font-size: 12px;}
	.blog-details-item .blog-content .related-posts .related-posts-carousel .item .item-content .post-meta > ul > li > a {font-size: 14px;}
	.blog-details-item .blog-content .share-links ul li {margin-right: 25px;}
	.contact-page-full-screen .address-container {padding: 30px;}
	.contact-page-full-screen .address-container .container-title {margin-bottom: 20px;}
	.contact-page-full-screen .address-container .office-time,
	.contact-page-full-screen .address-container .address-info-list {margin-bottom: 15px;}
	.contact-page-full-screen .address-container .country-name {margin-bottom: 20px;}

	.portfolio-section .grid.portfolio-two .grid-item:hover .item-content .post-meta >ul >li {
		width: 100%;
		margin: 0px;
		padding: 0px;
		display: table;
		text-align: center;
		&:after {display: none;}
	}

	.slider-section-nine .main-slider-nine .item .slider-content .big-text {font-size: 102px;}

}

/* ====================================================================================================
1 - media screen and (max-width: 1903px) - end
==================================================================================================== */





/*  ====================================================================================================
2 - media screen and (max-width: 1199px) - start
==================================================================================================== */

@media screen and (max-width: 1199px) {
	.header-section .default-header .btns-group > ul > li {margin-right: 10px;}
	.header-section .default-header .btns-group > ul > li:last-child {margin-right: 0px;}
	.header-section .default-header .main-menu {display: none;}

	/* slider setting - start */
	.home-page-1 {
		.slider-section {
			.slider-items {
				.item {
					.big-text {left: 20% !important;}
					.transparent-text {
						left: 10% !important;
						h2 {font-size: 1600%;}
					}
				}
			}
		}
	}

	.home-page-2 {
		.slider-section {
			.slider-items {
				.item {
					.tp-caption {left: 20% !important;}
				}
			}
		}
	}

	.home-page-5 {
		.slider-section {
			.slider-items {
				.item {
					.tp-caption {left: 20% !important;}
				}
			}
		}
	}

	.home-page-6 {
		.slider-section {
			.slider-items {
				.item {
					.tp-caption {left: 8% !important;}
				}
			}
		}
	}
	.home-page-7 {
		.slider-section {
			.slider-items {
				.item {
					.tp-caption {left: 50% !important;}
				}
			}
		}
	}
	/* slider setting - end */

	.portfolio-section .grid.portfolio-one .grid-item,
	.portfolio-section .grid.portfolio-one .grid-sizer {width: 50%;}
	.portfolio-section .grid.portfolio-one .grid-item-width {width: 100%;}
	.partner-section .partner-title-content .title-text {
		font-size: 24px;
		padding: 15px 30px;
	}
	.footer-section .default-footer .menu-list ul li {margin-right: 20px;}

	.portfolio-section .button-group .filter-button {margin-right: 15px;}
	.portfolio-section .grid.portfolio-two .grid-item,
	.portfolio-section .grid.portfolio-two .grid-sizer {width: 50%;}
	.portfolio-section .grid.portfolio-two .grid-item-big {width: 100%;}
	.portfolio-section .grid.portfolio-two .grid-item-width {width: 100%;}
	.portfolio-section .grid.portfolio-two .grid-item .image-container {height: auto;}

	.home-page-4 {padding: 0px;}
	.portfolio-section .portfolio-four .grid-item .item-content {padding: 0px 15px;}
	.home-page-4 .social-links-text {display: none;}
	.about-section-one .title-content .paragraph-text {font-size: 18px;}

	.portfolio-section .grid.portfolio-six .grid-item .item-content .item-title {font-size: 30px;}

	.portfolio-section .grid.portfolio-seven .grid-item,
	.portfolio-section .grid.portfolio-seven .grid-sizer {width: 50%;}
	.portfolio-section .grid.portfolio-seven .grid-title {width: 100%;}
	.portfolio-section .grid.portfolio-seven .grid-item-big {width: 100%;}
	.portfolio-section .grid.portfolio-seven .grid-item-width {width: 100%;}
	.portfolio-section .grid.portfolio-seven .grid-item .image-container {height: auto;}

	.portfolio-section .grid.portfolio-seven .grid-title .title-text {height: auto;}
	.home-page-9 .header-section:after {width: 20%;}
	.slider-section-nine .slider-nine .item .slider-content .big-text {font-size: 100px;}
	.slider-section-nine .slider-nine .item {height: auto;}
	.slider-section-nine .slider-nine .item .slider-content {
		width: 100%;
		position: static;
		transform: unset;
		padding: 200px 0px;
	}
	.portfolio-section .grid.portfolio-nine .grid-item .image-container {height: 277px;}
	.portfolio-section .grid.portfolio-nine .grid-item-big .image-container {height: 617px;}

	.slider-section-ten .item .slider-content {height: 500px;}
	.slider-section-ten .item .slider-image {height: 500px;}
	.about-section-three .about-content .section-title {margin-bottom: 30px;}
	.about-section-three .about-content .section-title .sec-title-text {font-size: 72px;}
	.about-section-three .about-images .grid-item-width .image-container {
		width: 100%;
		display: table;
	}
	.about-section-three .about-images .grid-item-width .image-container img {margin: 0px;}

	.home-page-11 .contact-grid-btn {
		top: 20px;
		left: 50%;
		right: unset;
		position: fixed;
		transform: translateX(-50%);
	}
	.absolute-menu-btn {display: inline-block;}
	.slider-section-eleven .slider-items-container .item .slider-content {
		top: 30%;
		left: 50%;
		width: 100%;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.slider-section-eleven .slider-items-container .item .slider-content .title-text {
		font-size: 48px;
		max-width: 500px;
		margin: 0 auto 30px;
	}
	.slider-section-eleven .slider-items-container .item .slider-content .sub-title-text {
		padding: 0px;
		font-size: 24px;
		display: inline-block;
		&:after {display: none;}
	}

	.portfolio-section .portfolio-eight .nav {
		width: 100%;
		float: none;
		height: auto;
		overflow-y: visible;
		overflow-x: scroll;
	}
	.portfolio-section .portfolio-eight .nav li {
		float: left;
		width: 33.333%;
		display: inline-block;
	}
	.portfolio-section .portfolio-eight .tab-content .tab-pane {height: auto;}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container {
		width: 100%;
		display: table;
	}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container img {margin: 0px;}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container .item-content {height: auto;}
	.leftside-fixed-header {display: none;}
	.home-page-12 {padding-left: 0px;}

	.about-section .about-content .title-text {font-size: 48px;}
	.about-section .about-content .sub-title {font-size: 36px;}
	.section-title .sec-title-text {font-size: 30px;}
	.work-process-section .work-process-item .item-title {font-size: 18px;}

	.portfolio-section .grid.portfolio-six .grid-item .item-content .post-meta >ul >li {
		width: 100%;
		margin: 0px;
		padding: 0px;
		display: table;
		text-align: center;
		&:after {display: none;}
	}
	.home-page-8 {padding-left: 0px;}

	.main-slider-ten .item .slider-image,
	.main-slider-ten .item .slider-content {height: auto;}
	.main-slider-ten .item .slider-content .position-y-middle {
		position: static;
		transform: unset;
		padding-top: 100px;
		padding-left: 30px;
	}

	.home-page-11 {padding-left: 0px;}

	.portfolio-section .portfolio-eight .tab-content .tab-pane {width: 100%;}

}

/* ====================================================================================================
2 - media screen and (max-width: 1199px) - end
==================================================================================================== */





/* ====================================================================================================
3 - media screen and (max-width: 991px) - start --->>>for medium device
==================================================================================================== */

@media screen and (max-width: 991px) {

	/* slider setting - start */
	.home-page-7 {
		.slider-section {
			.slider-items {
				.item {
					.tp-caption {left: 40% !important;}
				}
			}
		}
	}
	/* slider setting - end */

	.portfolio-section .button-group {
		padding: 0px;
		margin-top: 15px;
	}
	.slider-section-three .carousel-three .item .slider-content .item-title {font-size: 18px;}
	.portfolio-section .portfolio-three .grid-item-big .item-content {max-width: 100%;}
	.portfolio-section .portfolio-three .grid-item .item-content {padding-bottom: 0;}
	.portfolio-section .portfolio-three .grid-item .item-content .post-meta {
		position: static;
		margin-top: 15px;
	}
	.portfolio-section .portfolio-three {
		margin-left: -15px;
		margin-right: -15px;
	}
	.portfolio-section .portfolio-three .grid-item {padding: 15px;}
	.about-section-one {text-align: center;}
	.about-section-one .title-content .sec-title-text {
		width: 100%;
		padding: 0px;
		display: table;
		text-align: center;
	}
	.about-section-one .title-content .sec-title-text:after {display: none;}
	.portfolio-section .portfolio-four .grid-item,
	.portfolio-section .portfolio-four .grid-sizer {
		width: 33.333%;
	}

	.section-title .sec-title-text {
		font-size: 30px;
		letter-spacing: 0px;
	}
	.portfolio-section .grid.portfolio-five .grid-item .item-title {
		bottom: 0px;
		font-size: 18px;
		max-width: 150px;
	}

	.portfolio-section .grid.portfolio-six .grid-item,
	.portfolio-section .grid.portfolio-six .grid-sizer {width: 50%;}
	.portfolio-section .grid.portfolio-six .grid-item-big,
	.portfolio-section .grid.portfolio-six .grid-item-width {width: 100%;}

	.portfolio-section .grid.portfolio-seven .grid-title .title-text {
		font-size: 42px;
		text-align: center;
	}

	.portfolio-section .grid.portfolio-eight .grid-item,
	.portfolio-section .grid.portfolio-eight .grid-sizer {width: 50%;}
	.portfolio-section .grid.portfolio-eight .grid-item-big {width: 100%;}
	.about-section-two .about-content .title-text {font-size: 24px;}
	.portfolio-section .grid.portfolio-nine .grid-item-big .image-container {
		height: 617px;
	}
	.portfolio-section .grid.portfolio-nine .grid-item,
	.portfolio-section .grid.portfolio-nine .grid-sizer {width: 100%;}
	.portfolio-section .grid.portfolio-nine .grid-item .image-container {height: auto;}

	.slider-section-ten .item .slider-content .position-y-middle .title-text {font-size: 24px;}
	.slider-section-ten .item .slider-content .position-y-middle p {
		font-size: 18px;
		max-width: 100%;
		line-height: 26px;
	}
	.slider-section-ten .item .slider-image,
	.slider-section-ten .item .slider-content {height: 430px;}
	.slider-section-ten .item .slider-content .position-y-middle {padding-left: 30px;}

	.about-section-three .about-content {
		width: 100%;
		padding: 0px 15px;
		margin-bottom: 30px;
	}
	.about-section-three .about-images {width: 100%;}
	.about-section-three {padding: 80px 0px;}
	.slider-section-eleven .slider-items-container .item .slider-content {top: 20%;}
	.leftside-fixed-header {display: none;}
	.home-page-11 {padding: 0px;}

	.portfolio-page-8 .grid.portfolio-ten .grid-item,
	.portfolio-page-8 .grid.portfolio-ten .grid-sizer {width: 50%;}

	.portfolio-section .grid.portfolio-eleven .grid-item,
	.portfolio-section .grid.portfolio-eleven .grid-sizer {width: 50%;}
	.portfolio-section .grid.portfolio-eleven .grid-item-big,
	.portfolio-section .grid.portfolio-eleven .grid-item-width {width: 100%;}
	.portfolio-details-item .details-content .blockquote p {
		font-size: 24px;
		line-height: 30px;
	}
	.about-page .about-section {margin-bottom: 0px;}
	.about-section .about-image {margin-bottom: 0px;}
	.about-page .service-section .service-item {
		margin: 0px;
		margin-top: 60px;
	}
	.work-process-section .section-title {text-align: center;}
	.work-process-section .work-process-item {
		padding-right: 0px;
		text-align: center;
		margin-bottom: 60px;
		&:last-child {margin-bottom: 60px;}
	}
	.blog-list-item .blog-image,
	.blog-list-item .blog-content {
		width: 100%;
		float: none;
		display: table;
	}
	.blog-list-item .blog-content {padding: 0px 15px;}
	.blog-list-item .blog-image {margin-bottom: 30px;}
	.blog-list-item .blog-content .post-meta,
	.full-width-blog .blog-content .post-meta {margin-bottom: 15px;}
	.blog-details-item .blog-content .related-posts .related-posts-carousel .item {padding: 0px 15px;}
	.contact-page-full-screen .google-map {
		width: 100%;
		height: 500px;
	}
	.contact-page-full-screen .address-container {
		width: 100%;
		position: static;
		transform: unset;
	}
	.contact-page-full-screen .address-container .container-title {margin-bottom: 40px;}
	.contact-page-full-screen .address-container .office-time,
	.contact-page-full-screen .address-container .address-info-list {margin-bottom: 30px;}
	.contact-page-full-screen .address-container .country-name {margin-bottom: 30px;}
	.shop-section .shop-details .products-image-carousel {margin-bottom: 30px;}
	.shop-section .shop-details .shop-details-content p,
	.shop-section .shop-details .shop-details-content .item-price,
	.shop-section .shop-details .shop-details-content .quantity-cart-btn {margin-bottom: 30px;}

	.main-slider-ten .item .slider-image,
	.main-slider-ten .item .slider-content {
		float: none;
		width: 100%;
		display: table;
	}
	.main-slider-ten .item .slider-content {
		padding: 50px;
		text-align: center;
	}
	.main-slider-ten .item .slider-content .position-y-middle {padding: 0px;}
	.main-slider-ten .item .slider-content .position-y-middle p {margin: 0 auto 30px;}

	.portfolio-section .portfolio-eight .tab-content .tab-pane {padding: 30px 15px;}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container {margin: 30px auto;}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .tag-list {right: -100px;}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container .item-content .item-title {font-size: 42px;}

}

/* ====================================================================================================
3 - media screen and (max-width: 991px) - end --->>>for medium device
==================================================================================================== */





/* ====================================================================================================
4 - media screen and (max-width: 767px) - start --->>>For Mobile Device
==================================================================================================== */

@media screen and (max-width: 767px) {}

/* ====================================================================================================
4 - media screen and (max-width: 767px) - end --->>>For Mobile Device
==================================================================================================== */





/* ====================================================================================================
5 - media screen and (max-width: 680px) - start
==================================================================================================== */

@media screen and (max-width: 680px) {}

/* ====================================================================================================
5 - media screen and (max-width: 680px) - end
==================================================================================================== */





/* ====================================================================================================
6 - media screen and (max-width: 480px) - start
==================================================================================================== */

@media screen and (max-width: 480px) {
	.sec-ptb-80 {padding: 40px 0px;}
	.backtotop {
		width: 40px;
		height: 40px;
	}
	.backtotop .scroll {
		font-size: 30px;
		line-height: 40px;
	}
	.header-section .default-header .btns-group {
		margin: 0px;
		float: right;
		margin-top: -35px;
	}
	.search-body .search-form .search-input {
		height: 65px;
		font-size: 24px;
		padding: 0px 20px;
	}
	.search-body .search-close {
		width: 40px;
		right: 20px;
		height: 40px;
		font-size: 24px;
		line-height: 40px;
	}
	.cart-btn .cart-items-container {
		right: -60px;
		padding: 20px;
		min-width: 350px;
		padding-top: 35px;
	}
	.cart-btn .cart-items-container:before {top: 20px;}

	.header-section .default-header {padding: 20px 0px;}

	/* slider setting - start */
	.home-page-2 .slider-section .slider-items .item .tp-caption .small-text {
		padding: 0px;
		font-size: 250%;
	}
	.home-page-2 .slider-section .slider-items .item .tp-caption .small-text:before {display: none;}

	.home-page-7 {
		.slider-section {
			.slider-items {
				.item {
					.tp-caption {left: 35% !important;}
				}
			}
		}
	}
	/* slider setting - end */

	.portfolio-section .grid.portfolio-one .grid-item,
	.portfolio-section .grid.portfolio-one .grid-sizer {width: 100%;}
	.partner-section .partner-title-content .title-text {margin-bottom: 15px;}
	.partner-section .partner-title-content p {font-size: 18px;}

	.footer-section .default-footer {text-align: center;}
	.footer-section .default-footer .about-info {margin-bottom: 30px;}
	.footer-section .default-footer .address-info {margin-bottom: 30px;}
	.footer-section .default-footer .menu-list ul {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.partner-section .partner-carousel .item a {height: 50px;}
	.partner-section .partner-carousel .item a img {max-width: 90%;}
	.portfolio-section .button-group .filter-button {
		margin: 0;
		width: 50%;
		float: left;
		font-size: 18px;
		text-align: left;
		margin-bottom: 10px;
		display: inline-block;
	}
	.portfolio-section .grid.portfolio-two .grid-item,
	.portfolio-section .grid.portfolio-two .grid-sizer {width: 100%;}
	.post-meta > ul > li,
	.post-meta > ul > li a {font-size: 14px;}
	.home-page-2 .portfolio-section {
		padding-left: 0px;
		padding-right: 0px;
	}

	.slider-section-three .owl-nav {
		top: 0;
		bottom: unset;
	}
	.slider-section-three .owl-nav button,
	.slider-section-three .owl-nav button {
		width: 30px;
		height: 30px;
	}
	.slider-section-three .owl-nav button:before,
	.slider-section-three .owl-nav button:before {
		font-size: 16px;
		line-height: 30px;
	}
	.sec-ptb-60 {padding: 30px 0px;}
	.portfolio-section .button-group .filter-button {
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	.portfolio-section .portfolio-three .grid-item,
	.portfolio-section .portfolio-three .grid-sizer {width: 100%;}
	.newsletter-section .title-text {font-size: 36px;}
	.newsletter-section .newsletter-form p {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.slider-section-three .carousel-three .item .slider-content {padding: 0px 15px;}

	.portfolio-section .portfolio-four .grid-item,
	.portfolio-section .portfolio-four .grid-sizer {width: 100%;}
	.portfolio-section .portfolio-four {margin-bottom: 15px;}
	.portfolio-section .portfolio-four .grid-item {margin-bottom: 15px;}
	.home-page-4 .portfolio-section .load-more {margin-top: 0px;}

	.section-title .sec-title-text {margin-bottom: 30px;}
	.home-page-5 .portfolio-section {
		padding-left: 15px;
		padding-right: 15px;
	}
	.portfolio-section .grid.portfolio-five .grid-item,
	.portfolio-section .grid.portfolio-five .grid-sizer {
		width: 100%;
	}
	.portfolio-section .grid.portfolio-five .grid-item {
		padding: 0px;
		margin-top: 30px;
		position: relative;
	}
	.portfolio-section .grid.portfolio-five .grid-item:before {display: none;}
	.portfolio-section .grid.portfolio-five .grid-item .item-title {
		font-size: 24px;
		max-width: 100%;
		position: static;
		text-align: center;
		margin-bottom: 15px;
	}
	.portfolio-section .grid.portfolio-five .grid-item .image-container {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.portfolio-section .grid.portfolio-five .grid-item .item-content {
		width: 100%;
		float: none;
		padding: 0px;
	}
	.portfolio-section .grid.portfolio-five .grid-item .item-content .post-meta ul {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.partner-section .partner-title-content h3 {font-size: 24px;}

	.portfolio-section .grid.portfolio-six .grid-item,
	.portfolio-section .grid.portfolio-six .grid-sizer {width: 100%;}

	.portfolio-section .grid.portfolio-seven .grid-title .title-text {font-size: 24px;}

	.portfolio-section .grid.portfolio-seven .grid-item,
	.portfolio-section .grid.portfolio-seven .grid-sizer {width: 100%;}

	.home-page-8 {padding: 0px;}
	.leftside-fixed-header {display: none;}
	.absolute-menu-btn {display: inline-block;}
	.portfolio-section .grid.portfolio-eight .grid-item,
	.portfolio-section .grid.portfolio-eight .grid-sizer {width: 100%;}

	.slider-section-nine .slider-nine .item .slider-content .big-text {font-size: 70px;}
	.slider-section-nine .slider-nine .item .slider-content p {
		font-size: 24px;
		line-height: 30px;
	}
	.slider-section-nine .slider-nine .item .slider-content .big-text {
		font-size: 60px;
		margin-bottom: 15px;
	}
	.slider-section-nine .slider-nine .item .slider-content {
		padding: 100px 0px;
		padding-top: 170px;
	}
	.home-page-9 .header-section:after {width: 100%;}
	.about-section-two .about-content .title-text {font-size: 18px;}

	.slider-section-ten .item .slider-image,
	.slider-section-ten .item .slider-content {
		width: 100%;
		height: auto;
	}
	.slider-section-ten .item {padding: 0px 15px;}
	.slider-section-ten .item .slider-content .position-y-middle {
		padding: 0px;
		position: static;
		transform: unset;
	}
	.slider-section-ten .item .slider-content .position-y-middle .title-text {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.slider-section-ten .item .slider-content {margin-bottom: 30px;}
	.slider-section-ten .item .slider-content .position-y-middle p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	.about-section-three .about-content .section-title .sec-title-text {font-size: 54px;}
	.about-section-three .about-content .title-text {font-size: 24px;}
	.about-section-three .about-images .grid-item {width: 100%;}
	.portfolio-section .grid.portfolio-ten .grid-item,
	.portfolio-section .grid.portfolio-ten .grid-sizer {width: 100%;}

	.slider-section-eleven .slider-items-container .item .slider-content .slider-number {font-size: 96px;}
	.slider-section-eleven .slider-items-container .item .slider-content .title-text {
		font-size: 30px;
		max-width: 100%;
	}
	.slider-section-eleven .slider-items-container .item .slider-content .sub-title-text {font-size: 18px;}
	.slider-section-eleven .slider-items-container .item .slider-content {top: 15%;}
	.slider-section-eleven .slider-items-nav {
		right: 0;
		bottom: 0;
	}
	.slider-section-eleven .slider-items-nav {
		width: 100% !important;
	}
	.slider-section-eleven .slider-items-nav .slick-prev {left: 0px;}
	.slider-section-eleven .slider-items-nav .slick-next {right: 0px;}
	.slider-section-eleven {
		.slider-items-nav {
			&:hover {
				.slick-prev {left: 0px;}
				.slick-next {right: 0px;}
			}
		}
	}
	.slider-section-eleven .slider-items-nav .item .item-content {width: 55%;}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container .item-content .item-title {font-size: 24px;}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .image-container .item-content {
		top: unset;
		left: unset;
		width: 100%;
		padding: 30px;
		display: table;
		position: static;
		transform: unset;
		box-shadow: none;
		background-color: #ffffff;
	}
	.portfolio-section .portfolio-eight {
		width: 100%;
		height: auto;
		display: table;
	}

	.portfolio-section .load-more {margin-top: 40px;}

	.portfolio-section .grid.portfolio-eleven .grid-item,
	.portfolio-section .grid.portfolio-eleven .grid-sizer {width: 100%;}

	.portfolio-details-item .details-content .image-container {margin-bottom: 30px;}
	.portfolio-details-item .details-content .item-title {font-size: 30px;}
	.portfolio-details-item .details-content .blockquote {
		padding: 0px;
		margin: 20px 0px;
	}
	.portfolio-details-item .details-content .blockquote p {
		font-size: 18px;
		line-height: 24px;
	}
	.portfolio-section .other-post-links .post-link a {font-size: 24px;}
	.portfolio-section .other-post-links .post-link a .icon {font-size: 36px;}
	.newsletter-section .title-text {font-size: 30px;}
	.portfolio-details-item .details-content .portfolio-item-info {margin-bottom: 30px;}
	.portfolio-details-item .details-content .portfolio-item-info ul li strong {font-size: 18px;}
	.portfolio-details-item .details-content .portfolio-item-info ul li span {font-size: 14px;}
	.portfolio-details-item .details-content .portfolio-item-info ul li {margin-bottom: 15px;}
	.portfolio-details-item .details-content .portfolio-item-info ul li:last-child {margin-bottom: 0px;}
	body {padding-top: 70px;}
	.about-section .about-content .title-text {font-size: 36px;}
	.about-section .about-content .sub-title {font-size: 24px;}
	.about-section .about-content p {margin-bottom: 30px !important;}
	.work-process-section .heroes-comment .blockquote {
		padding: 30px 30px;
		padding-top: 100px;
		background-color: #0000ff;
	}
	.work-process-section .heroes-comment .image-container {margin-bottom: -75px;}
	.blog-details-item .blog-title-container .blog-title {font-size: 24px;}
	.blog-details-item .blog-content .item-description {font-size: 18px;}
	.google-map {
		height: 400px;
		margin-bottom: 30px;
	}
	.contact-page-full-screen .google-map {
		margin: 0px;
		height: 400px;
	}
	.shop-section .shop-details .product-info .product-info-list,
	.shop-section .shop-details .product-info .product-info-title {margin-bottom: 30px;}

	.slider-section-nine .main-slider-nine .item .slider-content {
		text-align: center;
		.big-text {font-size: 72px;}
	}

	.main-slider-ten .item .slider-content {padding: 50px 30px;}
	.main-slider-ten .item .slider-content .position-y-middle .title-text {
		font-size: 36px;
		margin-bottom: 15px;
	}
	.main-slider-ten .item .slider-content .position-y-middle p {
		width: 100%;
		display: table;
		max-width: 100%;
		font-size: 18px;
		text-align: center;
	}
	.portfolio-section .portfolio-eight .tab-content .tab-pane .tag-list {
		margin-top: 15px;
		position: static;
		transform: unset;
	}
	.portfolio-section .portfolio-details-item .details-image {margin-bottom: 15px;}
	.portfolio-section .other-post-links .post-link {
		padding: 15px;
		border-radius: 5px;
		margin-bottom: 15px;
		text-align: center !important;
		background-color: $deep-gray;
	}
	.portfolio-details-item .details-content .item-title {font-size: 24px;}

	.blog-details-item .blog-content .share-links ul {
		width: 100%;
		display: table;
	}
	.blog-details-item .blog-content .related-posts .related-posts-carousel .item .item-content,
	.blog-details-item .blog-content .related-posts .related-posts-carousel .item .image-container {
		float: none;
		width: 100%;
		display: table;
	}

}

/* ====================================================================================================
6 - media screen and (max-width: 480px) - end
==================================================================================================== */





/* ====================================================================================================
7 - media screen and (max-width: 320px) - start
==================================================================================================== */

@media screen and (max-width: 320px) {
	.cart-btn .cart-items-container {
		height: 100%;
		min-width: 300px;
		overflow-y: scroll;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cart-btn .cart-items-container.has-items .footer-container .footer-left {margin-bottom: 5px;}
	.cart-btn .cart-items-container.has-items .footer-container .footer-right > ul > li > a {
		height: 35px;
		font-size: 14px;
		line-height: 35px;
		padding: 0px 20px;
	}
	.cart-btn .cart-items-container.has-items .cart-item .image-container {width: 80px;}
	.cart-btn .cart-items-container.has-items .cart-item .item-content > ul > li {margin-right: 5px;}
	.cart-btn .cart-items-container.has-items .cart-item .item-content > ul > li button {
		width: 30px;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
	}
	.cart-btn .cart-items-container.has-items .cart-item .item-content > ul > li .quantity-input {
		width: 60px;
		height: 30px;
		font-size: 14px;
	}
	.cart-btn .cart-items-container.has-items .title-text {font-size: 18px;}
	.cart-btn .cart-items-container.has-items .cart-item .item-content .item-title {font-size: 16px;}

	.portfolio-section .grid.portfolio-two .grid-item .item-content {
		z-index: 1;
		padding: 15px 20px;
	}

	.service-section .service-content p {
		font-size: 14px;
		line-height: 24px;
	}
	.section-title .sec-title-text {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.portfolio-section .grid.portfolio-seven .grid-title .title-text {font-size: 18px;}
	.slider-section-nine .slider-nine-nav .item .slider-content {left: 20px;}
	.slider-section-nine .slider-nine-nav .item .slider-content .item-title {
		font-size: 18px;
		max-width: 100%;
	}
	.slider-section-nine .slider-nine-nav .item {height: 180px;}
	.about-section-two .about-content .sub-title-text {
		font-size: 14px;
		padding-left: 0px;
	}
	.about-section-two .about-content .sub-title-text:before {display: none;}
	.about-section-two .about-content {text-align: center;}
	.about-section-two .about-content .section-title {margin-bottom: 15px;}
	.about-section-two .about-content .title-text {font-size: 16px;}
	.about-section-three .about-content .section-title .sec-title-text {font-size: 36px;}
	.about-section-three .about-content .title-text {font-size: 18px;}
	.about-section-three .about-content p {font-size: 14px;}

	.slider-section-eleven .slider-items-container .item .slider-content .slider-number {font-size: 72px;}
	.slider-section-eleven .slider-items-container .item .slider-content .title-text {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.slider-section-eleven .slider-items-container .item .slider-content .sub-title-text {font-size: 14px;}
	.slider-section-eleven .slider-items-nav .item .item-content .item-title {font-size: 16px;}
	.slider-section-eleven .slider-items-nav .item .item-content .date-text {font-size: 12px;}
	.slider-section-eleven .slider-items-container .item .slider-content {top: 18%;}
	.portfolio-section .portfolio-eight .nav li {width: 50%;}
	.portfolio-details-item .details-content .item-title {font-size: 24px;}
	.contact-page-full-screen .address-container {padding: 30px 15px;}
	.shop-section .shop-details .shop-details-content .item-title {font-size: 24px;}
	.shop-section .shop-details .shop-details-content .sub-title {font-size: 16px;}

	.slider-section-nine .main-slider-nine .item .slider-content {
		text-align: center;
		.big-text {font-size: 60px;}
		p {font-size: 24px;}
	}

	.blog-details-item .blog-content .related-posts .related-posts-carousel .item .item-content .title-text {
		font-size: 20px;
	}

}

/* ====================================================================================================
7 - media screen and (max-width: 320px) - end
==================================================================================================== */