/* shop page - start
==================================================================================================== */
.shop-page {
	.shop-section {
		>.container {
			margin: 0 auto;
			max-width: 1460px;
		}
	}
}

.shop-section {
	.result-sorting-bar {
		padding-bottom: 15px;
		border-bottom: 1px solid $deep-gray;
		.result-text {
			font-size: 18px;
			color: $default-black;
			text-transform: capitalize;
		}
		.select-options {
			select {
				float: right;
				border: none;
				outline: none;
				padding: 5px 15px;
				background-color: $pure-white;
			}
		}
	}

	.shop-item {
		margin-top: 30px;
		.image-container {
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				opacity: 0;
				content: '';
				position: absolute;
				transition: $default-transition;
				background-color: rgba(0, 0, 255, 0.9);
			}
			img {
				width: 100%;
				display: block;
				transform: scale(1);
				transition: $default-transition;
			}
		}
		.item-content {
			.item-title {
				font-size: 24px;
				color: $default-black;
				text-transform: capitalize;
			}
		}
		&:hover {
			.image-container {
				&:before {opacity: 1;}
				img {transform: scale(1.2);}
				.drop-action-btns {
					>ul {
						>.plus-btn {
							top: 15px;
							opacity: 1;
						}
						>.expand-btn {
							top: 15px;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.load-more {
		margin-top: 80px;
		.load-more-btn {
			width: auto;
			font-size: 24px;
			text-align: center;
			color: $default-color;
			text-transform: capitalize;
			&:hover {color: $royalblue;}
		}
	}
}
/* shop page - end
==================================================================================================== */





/* shop details page - start
==================================================================================================== */
.shop-section {
	.shop-details {

		.products-image-carousel {
			.big-image-carousel {
				.slider-item {
					img {
						width: 100%;
						display: block;
					}
				}
			}
			.small-image-carousel {
				margin-top: 2px;
				.nav-item {
					padding: 2px;
					cursor: pointer;
					&:focus {outline: none;}
				}
				.nav-item.slick-current.slick-active {background-color: $royalblue;}
			}
		}

		.shop-details-content {
			.sub-title {
				font-size: 18px;
				text-transform: capitalize;
			}
			.item-title {
				font-size: 36px;
				margin-bottom: 15px;
				color: $default-black;
			}
			.quantity-cart-btn {
				ul {
					li {
						margin-right: 30px;
						&:last-child {margin-right: 0px;}
						.form-item {
							max-width: 100px;
							input {
								padding: 0px 20px;
								text-align: center;
							}
						}
						.cart-btn {
							width: auto;
							height: 50px;
							color: $pure-white;
							line-height: 50px;
							padding: 0px 30px;
							text-align: center;
							text-transform: uppercase;
							background-color: $royalblue;
						}
					}
				}
			}
			.item-category {
				.title-text {
					float: left;
					font-size: 18px;
					margin-right: 15px;
					text-transform: capitalize;
				}
				ul {
					li {
						margin-right: 5px;
						padding-right: 5px;
						position: relative;
						&:after {
							right: 0;
							bottom: 0;
							content: ',';
							position: absolute;
						}
						&:last-child {
							margin-right: 0px;
							padding-right: 0px;
							&:after {display: none;}
						}
					}
				}
			}
		}

		.product-info {
			border-top: 1px solid $deep-gray;
			border-bottom: 1px solid $deep-gray;
			.product-info-title {
				.title-text {
					font-size: 24px;
					text-transform: uppercase;
				}
				.review-btn {
					font-size: 16px;
					text-transform: uppercase;
				}
			}
			.product-info-list {
				ul {
					li {
						margin-bottom: 5px;
						&:last-child {margin-bottom: 0px;}
					}
				}
			}
		}

		.related-posts {
			.title-text {
				font-size: 30px;
				text-transform: capitalize;
			}
		}

	}
}
/* shop details page - end
==================================================================================================== */