/* sidebar section - start
==================================================================================================== */
.sidebar-section {

	.sidebar-title {
		font-size: 18px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	.top-rated-post {
		>ul {
			>li {
				margin-bottom: 15px;
				&:last-child {margin-bottom: 0px;}
				.image-container {
					float: left;
					width: 80px;
					height: auto;
					overflow: hidden;
					margin-right: 15px;
					img {
						width: 100%;
						display: block;
					}
				}
				.item-content {
					display: table;
					.item-title {
						font-size: 18px;
						margin-bottom: 8px;
						color: $default-black;
						text-transform: capitalize;
						font-family: 'Sk-Modernist-Bold';
					}
				}
				&:hover {
					.item-content {
						.item-title {
							color: $royalblue;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.category-list {
		ul {
			li {
				margin-bottom: 8px;
				&:last-child {margin-bottom: 0px;}
				a {
					width: 100%;
					display: block;
					font-size: 16px;
					padding: 8px 0px;
					text-transform: uppercase;
					border-bottom: 1px solid transparent;
					span {float: right;}
					&:hover {
						padding: 8px 10px;
						color: $royalblue;
						border-color: $royalblue;
					}
				}
			}
		}
	}

	.instagram-shoots {
		ul {
			margin-left: -2px;
			margin-right: -2px;
			li {
				padding: 2px;
				width: 33.333%;
				a {
					width: 100%;
					height: 100%;
					display: block;
					overflow: hidden;
					position: relative;
					&:before {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 1;
						opacity: 0;
						content: '';
						position: absolute;
						transition: $default-transition;
						background-color: rgba(0,0,255,0.9);
					}
					&:after {
						top: 50%;
						left: 50%;
						opacity: 0;
						z-index: 2;
						font-size: 30px;
						content: "\f351";
						position: absolute;
						color: $pure-white;
						font-family: "Ionicons";
						transform: translate(-50%,50%);
						transition: $default-transition;
					}
					img {
						width: 100%;
						display: block;
						transform: scale(1);
						transition: $default-transition;
					}
					&:hover {
						&:before {opacity: 1;}
						&:after {
							opacity: 1;
							transform: translate(-50%,-50%);
						}
						img {transform: scale(1.2);}
					}
				}
			}
		}
	}

}
/* sidebar section - end
==================================================================================================== */