// default colors - start
// ==================================================
$royalblue: #0000ff;
$default-color: #808080;
$default-black: #010101;
// default colors - end
// ==================================================

// custom colors - start
// ==================================================
$pure-white: #ffffff;
$pure-black: #000000;

$deep-gray: #f0f0f0;
$light-gray: #f7f7f7;

$twitter: #1da1f2;
$youtube: #ff0000;
$facebook: #3b5998;
$linkedin: #007bb5;
$dribbble: #ea4c89;
$snapchat: #fffc00;
$pinterest: #bd081c;
$google-plus: #db4437;
$instagram-magenta: #c32aa3;

// custom colors - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .3s ease-in-out;
// transition - end
// ==================================================