/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  Hello Porto portfolio
File 			    :  CSS Base
Version 		  :  1.0.0
Last change 	:  10 January 2019
Author 			  :  HtmlMate
================================================== */
/* table of content - end
==================================================================================================== */
@font-face {
  font-family: 'Sk-Modernist-Regular';
  src: url('../fonts/Sk-Modernist-Regular.eot');
  src: url('../fonts/Sk-Modernist-Regular.woff2') format('woff2'),
  url('../fonts/Sk-Modernist-Regular.woff') format('woff'),
  url('../fonts/Sk-Modernist-Regular.ttf') format('truetype'),
  url('../fonts/Sk-Modernist-Regular.svg#Sk-Modernist-Regular') format('svg'),
  url('../fonts/Sk-Modernist-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sk-Modernist-Mono';
  src: url('../fonts/Sk-Modernist-Mono.eot');
  src: url('../fonts/Sk-Modernist-Mono.woff2') format('woff2'),
  url('../fonts/Sk-Modernist-Mono.woff') format('woff'),
  url('../fonts/Sk-Modernist-Mono.ttf') format('truetype'),
  url('../fonts/Sk-Modernist-Mono.svg#Sk-Modernist-Mono') format('svg'),
  url('../fonts/Sk-Modernist-Mono.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sk-Modernist-Bold';
  src: url('../fonts/Sk-Modernist-Bold.eot');
  src: url('../fonts/Sk-Modernist-Bold.woff2') format('woff2'),
  url('../fonts/Sk-Modernist-Bold.woff') format('woff'),
  url('../fonts/Sk-Modernist-Bold.ttf') format('truetype'),
  url('../fonts/Sk-Modernist-Bold.svg#Sk-Modernist-Bold') format('svg'),
  url('../fonts/Sk-Modernist-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@import "variable";
@import "reset";
@import "header";
@import "footer";

@import "_sidebar-section.scss";
@import "_partner-section.scss";
@import "_newsletter-section.scss";

@import "_home.scss";

@import "_blog.scss";
@import "_shop.scss";
@import "_about.scss";
@import "_contact.scss";
@import "_portfolio-pages.scss";

@import "_responsive.scss";